# Credit score classification using logistic regression

We are using a credit-related dataset found in Kaggle (source: https://www.kaggle.com/datasets/parisrohan/credit-score-classification/data). The dataset consists of 27 input features and one target label, that is the credit score.

Goal : To predict the credit score of a new, unseen data using logistic regression model.

In [1]:
import numpy as np
np.random.seed(42)
import pandas as pd
import tqdm

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import roc_auc_score
from sklearn.metrics import confusion_matrix, accuracy_score, f1_score
from sklearn.impute import KNNImputer
from numba import njit

np.seterr(all='raise')

{'divide': 'warn', 'over': 'warn', 'under': 'ignore', 'invalid': 'warn'}

## Load and clean the data

In [2]:
def load_data():
    filename = "../train_data/cs_train.csv"
    df = pd.read_csv(filename)

    ## Separate target from features
    X = df.drop(columns=['Credit_Score'])
    y = df['Credit_Score']

    return X, y

In [3]:
def slice_split(X, y, num_samples, compare_to_r_ref):
    X = X.to_numpy()[:num_samples]
    y = y.to_numpy()[:num_samples]
    
    ## Split into training and test set
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1332)
    
    print(f"Train X shape is: {X_train.shape}")
    print(f"Train Y shape is: {y_train.shape}")
    print(f"Test X shape is: {X_test.shape}")
    print(f"Test Y shape is: {y_test.shape}")
    return X_train, X_test, y_train, y_test

In [4]:
X, y = load_data()
X.head()

C:\Users\USER\AppData\Local\Temp\ipykernel_13332\566418612.py:3: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,4.0,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,4.0,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,4.0,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177

We'll then perform data cleaning to filter out irrelevant features for our prediction. A little bit of feature engineering after might be necessary.

First of all, we need to look more into our 'Monthly_Balance' column, which holds more than one data type, hence detected as DTypeWarning.

In [5]:
print(X['Monthly_Balance'].unique())

['312.49408867943663' '284.62916249607184' '331.2098628537912' ...
 516.8090832742814 319.1649785257098 393.6736955618808]

In [6]:
X['Monthly_Balance'] = pd.to_numeric(X['Monthly_Balance'], errors='coerce')
X.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.494089
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,4.0,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.629162
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,4.0,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.209863
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,4.0,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.451310
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.489231

In [7]:
X.shape

(100000, 27)

'ID', 'Customer_ID', 'Name', 'SSN', 'Occupation', and 'Type_of_Loan' are, for now, **irrelevant** to the prediction.

In [8]:
## Drop irrelevant features
X = X.drop(columns=['ID', 'Customer_ID', 'Name', 'SSN', 'Occupation', 'Type_of_Loan'])
X.shape

(100000, 21)

Furthermore, there are features that hold string values, which obviously cannot be processed by the logistic regression model. We need to convert them into one-hot encoding vectors.

In [9]:
## One-hot encoding
X = pd.get_dummies(X, columns=['Month', 'Credit_Mix', 'Payment_of_Min_Amount', 'Payment_Behaviour'])
y = pd.get_dummies(y)
print(f"New shape of X: {X.shape}")
print(f"New shape of y: {y.shape}")

New shape of X: (100000, 39)
New shape of y: (100000, 3)

In [10]:
## Map 'Credit_History_Age' into decimals and NaN values
import re

# Replace 'NA' with NaN
X['Credit_History_Age'].replace('NA', pd.NA, inplace=True)

# Function to extract years and months
def extract_years_months(value):
    if pd.isna(value):
        return value
    match = re.match(r'(\d+)\s+Years?\s+and\s+(\d+)\s+Months?', value)
    if match:
        years, months = map(int, match.groups())
        return years + months / 12
    return None

# Apply the function to the column
X['Credit_History_Age'] = X['Credit_History_Age'].apply(extract_years_months)

C:\Users\USER\AppData\Local\Temp\ipykernel_13332\2337723389.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X['Credit_History_Age'].replace('NA', pd.NA, inplace=True)

In [11]:
X['Credit_History_Age'].head()

0    22.083333
1          NaN
2    22.250000
3    22.333333
4    22.416667
Name: Credit_History_Age, dtype: float64

Now, we need to address NaN values as a part of data cleaning process.

In [12]:
## Make sure all values are numerical
X_num = X.apply(pd.to_numeric, errors='coerce')

In [13]:
X_num.isna().sum()

Age                                                    4939
Annual_Income                                          6980
Monthly_Inhand_Salary                                 15002
Num_Bank_Accounts                                         0
Num_Credit_Card                                           0
Interest_Rate                                             0
Num_of_Loan                                            4785
Delay_from_due_date                                       0
Num_of_Delayed_Payment                                 9746
Changed_Credit_Limit                                   2091
Num_Credit_Inquiries                                   1965
Outstanding_Debt                                       1009
Credit_Utilization_Ratio                                  0
Credit_History_Age                                     9030
Total_EMI_per_month                                       0
Amount_invested_monthly                                8784
Monthly_Balance                                        1209
Month_April                                               0
Month_August                                              0
Month_February                                            0
Month_January                                             0
Month_July                                                0
Month_June                                                0
Month_March                                               0
Month_May                                                 0
Credit_Mix_Bad                                            0
Credit_Mix_Good                                           0
Credit_Mix_Standard                                       0
Credit_Mix__                                              0
Payment_of_Min_Amount_NM                                  0
Payment_of_Min_Amount_No                                  0
Payment_of_Min_Amount_Yes                                 0
Payment_Behaviour_!@9#%8                                  0
Payment_Behaviour_High_spent_Large_value_payments         0
Payment_Behaviour_High_spent_Medium_value_payments        0
Payment_Behaviour_High_spent_Small_value_payments         0
Payment_Behaviour_Low_spent_Large_value_payments          0
Payment_Behaviour_Low_spent_Medium_value_payments         0
Payment_Behaviour_Low_spent_Small_value_payments          0
dtype: int64

In [14]:
## Fill the missing values with mean in each column
# X_num = X_num.fillna(X_num.mean())

# Initialize the KNN imputer
imputer = KNNImputer(missing_values=np.nan, n_neighbors=5)

# Fit and transform the data
X_imputed = imputer.fit_transform(X_num)

# Convert back to DataFrame
X_num = pd.DataFrame(X_imputed, columns=X_num.columns)
del X_imputed

In [15]:
X_num.isna().sum()

Age                                                   0
Annual_Income                                         0
Monthly_Inhand_Salary                                 0
Num_Bank_Accounts                                     0
Num_Credit_Card                                       0
Interest_Rate                                         0
Num_of_Loan                                           0
Delay_from_due_date                                   0
Num_of_Delayed_Payment                                0
Changed_Credit_Limit                                  0
Num_Credit_Inquiries                                  0
Outstanding_Debt                                      0
Credit_Utilization_Ratio                              0
Credit_History_Age                                    0
Total_EMI_per_month                                   0
Amount_invested_monthly                               0
Monthly_Balance                                       0
Month_April                                           0
Month_August                                          0
Month_February                                        0
Month_January                                         0
Month_July                                            0
Month_June                                            0
Month_March                                           0
Month_May                                             0
Credit_Mix_Bad                                        0
Credit_Mix_Good                                       0
Credit_Mix_Standard                                   0
Credit_Mix__                                          0
Payment_of_Min_Amount_NM                              0
Payment_of_Min_Amount_No                              0
Payment_of_Min_Amount_Yes                             0
Payment_Behaviour_!@9#%8                              0
Payment_Behaviour_High_spent_Large_value_payments     0
Payment_Behaviour_High_spent_Medium_value_payments    0
Payment_Behaviour_High_spent_Small_value_payments     0
Payment_Behaviour_Low_spent_Large_value_payments      0
Payment_Behaviour_Low_spent_Medium_value_payments     0
Payment_Behaviour_Low_spent_Small_value_payments      0
dtype: int64

## Feature engineering

Feature engineering lets us create new features by combining existing ones. These new features help the model to see the relationship between features and can improve the model's performance.

In [16]:
## Interaction features
X_num['Debt_to_Income_Ratio'] = X_num['Outstanding_Debt'] / X_num['Annual_Income']
X_num['Loan_to_Income_Ratio'] = X_num['Num_of_Loan'] / X_num['Annual_Income']
X_num['Investment_Ratio'] = X_num['Amount_invested_monthly'] / X_num['Monthly_Inhand_Salary']
X_num['Credit_Card_Utilization'] = X_num['Credit_Utilization_Ratio'] * X_num['Num_Credit_Card']

## Aggregated features
X_num['Total_Debt'] = X_num['Outstanding_Debt'] + X_num['Total_EMI_per_month']

## One-hot encoding for seasons
## --> Winter
X_num['Winter'] = X_num['Month_January'] + X_num['Month_February']
## --> Spring
X_num['Spring'] = X_num['Month_March'] + X_num['Month_April'] + X_num['Month_May']
## --> Summer
X_num['Summer'] = X_num['Month_June'] + X_num['Month_July'] + X_num['Month_August']

We also need to perform normalization to some features so that all features are in a virtually comparable range of values (feature scaling). We will use z-score normalization that subtracts the mean from each feature and divide the resulting value by its standard deviation.

First, we will reduce the impact of **outliers** (i.e., skewed, and possibly incorrect,
values in columns that might distort z-score normalization results) by applying natural log transformation.

In [17]:
columns_log = [
    'Age', 'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
    'Interest_Rate', 'Num_of_Loan', 'Delay_from_due_date', 'Num_of_Delayed_Payment',
    'Changed_Credit_Limit', 'Num_Credit_Inquiries', 'Outstanding_Debt',
    'Credit_Utilization_Ratio', 'Credit_History_Age', 'Total_EMI_per_month',
    'Amount_invested_monthly', 'Monthly_Balance',
    'Debt_to_Income_Ratio', 'Loan_to_Income_Ratio', 'Investment_Ratio', 
    'Credit_Card_Utilization', 'Total_Debt'
]

## Prevent FloatingPointError
X_num[columns_log] = X_num[columns_log].map(lambda x: x if x >= 0 else 0.01)

## Apply log transformation to necessary columns
X_num[columns_log] = np.log1p(X_num[columns_log])

We can then proceed for normalization.

In [18]:
## We want to normalize all columns except one-hot encoding vectors
columns_norm = [
    'Age', 'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
    'Interest_Rate', 'Num_of_Loan', 'Delay_from_due_date', 'Num_of_Delayed_Payment',
    'Changed_Credit_Limit', 'Num_Credit_Inquiries', 'Outstanding_Debt',
    'Credit_Utilization_Ratio', 'Credit_History_Age', 'Total_EMI_per_month',
    'Amount_invested_monthly', 'Monthly_Balance',
    'Debt_to_Income_Ratio', 'Loan_to_Income_Ratio', 'Investment_Ratio', 
    'Credit_Card_Utilization', 'Total_Debt'
]

## Initialize the scaler
scaler = StandardScaler()

## Fit and transform the selected columns
X_num[columns_norm] = scaler.fit_transform(X_num[columns_norm])

In [19]:
X_num['Debt_to_Income_Ratio'].head()

0   -0.183463
1   -0.183463
2   -0.183463
3   -0.183463
4   -0.183463
Name: Debt_to_Income_Ratio, dtype: float64

In [20]:
X_num['Monthly_Balance'].head()

0   -0.235871
1   -0.411556
2   -0.126432
3   -0.866470
4   -0.068918
Name: Monthly_Balance, dtype: float64

## Risk minimization

We need to come to an understanding that logistic regression model cannot be trained on the target label of three possible binary values.

In [21]:
y.head()

   Good   Poor  Standard
0  True  False     False
1  True  False     False
2  True  False     False
3  True  False     False
4  True  False     False

Let's assume that the global finance company we're working with is not looking for more market expansion and is trying to minimize loan risk. Therefore, we want to label parties with **Good** credit scores as being eligible for loans, while the rest are not.

In [22]:
## Create a new binary label
y['Target'] = y['Good']

## Drop the original one-hot encoded columns
y = y.drop(columns=['Good', 'Standard', 'Poor'])

In [23]:
y.shape

(100000, 1)

## Preparing data for training

In [24]:
## NUM_SAMPLES is the combination of all sets (NUM_TRAINING + NUM_TEST)
NUM_SAMPLES = -1
COMPARE_TO_R_REF = False
lr = 0.001
mu = 0.5

## Slice data into NumPy arrays and split into training and test sets
X_train, X_test, y_train, y_test = slice_split(
    X_num, y,
    num_samples=NUM_SAMPLES,
    compare_to_r_ref=COMPARE_TO_R_REF
)

## n = num_of_features
n = X_train.shape[1]

# Same shape as Marcelo's reference code
betas = np.zeros((n, ))
# betas = np.random.randn(n)

Train X shape is: (79999, 47)
Train Y shape is: (79999, 1)
Test X shape is: (20000, 47)
Test Y shape is: (20000, 1)

In [25]:
n

47

## Nesterov model training

In [26]:
@njit
def sigmoid(z):
    return 1 / (1 + np.exp(-z))

@njit
def fwd(train_x, betas, dbg=False):
    preds = train_x @ betas   # A vector of linear_predictions/logits z = train_x @ weights
    if dbg:
        print(f"Logits: {preds}")
    return np.expand_dims(sigmoid(preds), -1)   # Shape: (m, 1)

@njit
def calculate_gradient(train_x, train_y, betas, fwd, dbg):
    preds = fwd(train_x, betas, dbg)   # A vector of logistic predictions y_hat = sigmoid(z)
    gradient = -train_x.T @ (train_y - preds) / len(train_y)
    return gradient   # Shape: (10, 1) == Rows correspond to num_features
    ## This function is used to update the values of betas: w_new = w_old + lr * gradient

def cost(x, y, theta):
    m = x.shape[0]
    h = sigmoid(np.matmul(x, theta))   # h: hypothesis, basically preds/y_hat
    t1 = np.matmul(-y.T, np.log(np.clip(h, 0.000000000000001, np.max(h))))
    t2_a = (1 - y.T)
    t2_b = np.log(np.clip(1 - h, 0.000000000000001, np.max(1 - h)))  # Used to get numerical issues
    ## np.clip() function prevents computing the log of 0, by taking the minimum of 1e-15.
    t2 = np.matmul(t2_a, t2_b)

    return ((t1 - t2) / m)[0]   # Shape: (1,) == scalar value

def nesterov(betas, epochs, patience, lr, mu, train_x, train_y):
    import copy

    phi = copy.deepcopy(betas)
    theta = copy.deepcopy(betas)

    check_early = 0
    best_loss = float('inf')
    best_epochs_list = []

    nesterov_loss = [0 for _ in range(epochs)]
    for i in tqdm.trange(epochs):
    # for i in range(epochs):
        gradient = calculate_gradient(train_x, train_y, theta, fwd, dbg=False)

        ## Assign updated weights into phi_prime
        phi_prime = theta - lr * np.squeeze(gradient)   # np.squeeze() removes single dimensions --> shape (10,)
        
        ## Nesterov acceleration process
        if i == 0:
            theta = phi_prime
        else:
            ## If current updated weight (phi_prime) < previous weight (phi), 
            ## The updated weight theta will be even smaller.
            theta = phi_prime + mu * (phi_prime - phi)
        phi = phi_prime   # phi is then the weight of the previous epoch/update
        loss = cost(train_x, train_y, theta)

        ## Early stopping
        if patience > 0:
            if loss < best_loss:
                best_loss = loss
                best_epoch = i
                best_theta = theta
                best_epochs_list.append(best_epoch)
                check_early = 0
            else:
                check_early += 1
                if check_early >= patience:
                    print(f"Early stopping at {patience} epochs after {best_epoch} with best loss {best_loss}")
                    return nesterov_loss[:best_epoch + 1], best_theta, phi, best_epochs_list
        else:
            best_epoch = epochs - 1
            best_theta = theta

        ## Update list
        nesterov_loss[i] = loss

        # print(f"New loss: {cost(train_x, train_y, v)[0]}")
    return nesterov_loss[:best_epoch + 1], best_theta, phi, best_epochs_list

In [27]:
# Ensure inputs are of the correct type
betas = np.array(betas, dtype=np.float64)
X_train = np.array(X_train, dtype=np.float64)
y_train = np.array(y_train, dtype=np.float64)
X_test = np.array(X_test, dtype=np.float64)
y_test = np.array(y_test, dtype=np.float64)
lr = float(lr)
mu = float(mu)

In [28]:
losses, theta, phi, best_epochs_list = nesterov(betas, 800, -1, lr, mu, X_train, y_train)

100%|██████████| 800/800 [00:35<00:00, 22.67it/s]

In [29]:
for j in range(len(losses)):
    print(f"{j}: {losses[j]}", end='\n')
# Ideal Gradient (800 epochs) #
## seed(42), lr = 0.001, mu = 0.3 --> loss = 0.5433165928958901
## seed(42), lr = 0.001, mu = 0.5 --> loss = 0.5139704562064134

# Oscillating Gradient (800 epochs) #
## seed(42), lr = 0.003, mu = 0.5 --> loss = 0.49509424569059735
## seed(42), lr = 0.003, mu = 0.6 --> loss = 0.4102733269497619

# Early stopping (patience = 50) #
## seed(42), lr = 0.003, mu = 0.5 --> 964: 0.410228534339208
## seed(42), lr = 0.003, mu = 0.6 --> 422: 0.46334269494781627

# Ideal Gradient (800 epochs) with Feature Engineering #
## seed(42), lr = 0.001, mu = 0.3 --> loss = 0.523951850559082
## seed(42), lr = 0.001, mu = 0.5 --> loss = 0.4922252143522289

# Early stopping (patience = 50) with Feature Engineering #
## seed(42), lr = 0.003, mu = 0.5 --> 739: 0.41164361016071044
## seed(42), lr = 0.003, mu = 0.6 --> 314: 0.4688941580652026

0: 0.687853331123845
1: 0.6859797886275819
2: 0.6843570834006404
3: 0.683507654132249
4: 0.6830425706585992
5: 0.6825001390404388
6: 0.6819856637486666
7: 0.6814738682234893
8: 0.6809625488302338
9: 0.6804522944560306
10: 0.6799433542775205
11: 0.6794358433635015
12: 0.6789298203602303
13: 0.6784253112534846
14: 0.6779223255717673
15: 0.6774208646905095
16: 0.6769209259158302
17: 0.6764225045343751
18: 0.6759255948388069
19: 0.6754301906399194
20: 0.674936285522481
21: 0.6744438729730334
22: 0.6739529464437124
23: 0.6734634993841034
24: 0.6729755252571248
25: 0.6724890175469327
26: 0.6720039697628372
27: 0.671520375441226
28: 0.6710382281464935
29: 0.6705575214714696
30: 0.6700782490376014
31: 0.6696004044950072
32: 0.6691239815224708
33: 0.6686489738274007
34: 0.6681753751457763
35: 0.667703179242082
36: 0.6672323799092399
37: 0.6667629709685365
38: 0.6662949462695515
39: 0.6658282996900816
40: 0.6653630251360654
41: 0.6648991165415068
42: 0.6644365678683984
43: 0.6639753731066426
44: 0.6635155262739737
45: 0.6630570214158784
46: 0.6625998526055152
47: 0.6621440139436349
48: 0.6616894995584979
49: 0.661236303605794
50: 0.6607844202685581
51: 0.6603338437570888
52: 0.6598845683088639
53: 0.659436588188456
54: 0.6589898976874491
55: 0.6585444911243522
56: 0.658100362844514
57: 0.6576575072200366
58: 0.6572159186496898
59: 0.656775591558822
60: 0.6563365203992756
61: 0.6558986996492954
62: 0.6554621238134435
63: 0.6550267874225091
64: 0.6545926850334187
65: 0.6541598112291485
66: 0.653728160618632
67: 0.6532977278366716
68: 0.6528685075438483
69: 0.6524404944264284
70: 0.6520136831962752
71: 0.6515880685907555
72: 0.6511636453726485
73: 0.6507404083300541
74: 0.6503183522762995
75: 0.649897472049848
76: 0.6494777625142049
77: 0.649059218557825
78: 0.6486418350940198
79: 0.648225607060863
80: 0.6478105294210975
81: 0.6473965971620417
82: 0.6469838052954949
83: 0.6465721488576436
84: 0.6461616229089665
85: 0.6457522225341407
86: 0.645343942841947
87: 0.6449367789651744
88: 0.6445307260605264
89: 0.6441257793085249
90: 0.6437219339134159
91: 0.643319185103074
92: 0.6429175281289071
93: 0.6425169582657613
94: 0.6421174708118254
95: 0.6417190610885353
96: 0.6413217244404795
97: 0.640925456235302
98: 0.640530251863608
99: 0.640136106738868
100: 0.6397430162973219
101: 0.639350975997884
102: 0.6389599813220476
103: 0.638570027773788
104: 0.6381811108794689
105: 0.6377932261877456
106: 0.6374063692694697
107: 0.6370205357175945
108: 0.6366357211470788
109: 0.6362519211947913
110: 0.6358691315194163
111: 0.6354873478013578
112: 0.6351065657426448
113: 0.6347267810668354
114: 0.6343479895189236
115: 0.6339701868652418
116: 0.6335933688933686
117: 0.6332175314120327
118: 0.6328426702510186
119: 0.6324687812610722
120: 0.6320958603138065
121: 0.6317239033016074
122: 0.6313529061375399
123: 0.630982864755253
124: 0.6306137751088882
125: 0.6302456331729829
126: 0.6298784349423795
127: 0.6295121764321308
128: 0.6291468536774065
129: 0.6287824627334015
130: 0.6284189996752421
131: 0.6280564605978929
132: 0.6276948416160651
133: 0.6273341388641249
134: 0.6269743484959993
135: 0.6266154666850863
136: 0.6262574896241618
137: 0.6259004135252884
138: 0.6255442346197244
139: 0.6251889491578326
140: 0.6248345534089889
141: 0.624481043661492
142: 0.6241284162224734
143: 0.6237766674178059
144: 0.6234257935920147
145: 0.6230757911081869
146: 0.6227266563478826
147: 0.6223783857110449
148: 0.6220309756159107
149: 0.621684422498923
150: 0.6213387228146404
151: 0.6209938730356512
152: 0.6206498696524824
153: 0.6203067091735138
154: 0.6199643881248905
155: 0.6196229030504338
156: 0.6192822505115557
157: 0.6189424270871715
158: 0.6186034293736132
159: 0.6182652539845431
160: 0.6179278975508676
161: 0.6175913567206521
162: 0.6172556281590351
163: 0.616920708548142
164: 0.6165865945870017
165: 0.6162532829914615
166: 0.6159207704941015
167: 0.6155890538441524
168: 0.6152581298074095
169: 0.6149279951661509
170: 0.6145986467190544
171: 0.6142700812811116
172: 0.6139422956835493
173: 0.613615286773744
174: 0.6132890514151408
175: 0.6129635864871724
176: 0.6126388888851761
177: 0.6123149555203135
178: 0.611991783319489
179: 0.6116693692252703
180: 0.6113477101958057
181: 0.6110268032047471
182: 0.6107066452411679
183: 0.6103872333094847
184: 0.6100685644293775
185: 0.6097506356357114
186: 0.6094334439784581
187: 0.6091169865226167
188: 0.6088012603481373
189: 0.6084862625498424
190: 0.6081719902373494
191: 0.6078584405349943
192: 0.6075456105817547
193: 0.6072334975311735
194: 0.6069220985512821
195: 0.6066114108245264
196: 0.6063014315476891
197: 0.6059921579318164
198: 0.6056835872021421
199: 0.6053757165980136
200: 0.6050685433728173
201: 0.6047620647939052
202: 0.6044562781425207
203: 0.6041511807137262
204: 0.6038467698163288
205: 0.6035430427728096
206: 0.6032399969192488
207: 0.6029376296052561
208: 0.6026359381938979
209: 0.602334920061626
210: 0.602034572598206
211: 0.6017348932066476
212: 0.6014358793031334
213: 0.6011375283169488
214: 0.6008398376904126
215: 0.6005428048788073
216: 0.6002464273503094
217: 0.5999507025859212
218: 0.5996556280794016
219: 0.5993612013371988
220: 0.5990674198783807
221: 0.5987742812345693
222: 0.5984817829498718
223: 0.5981899225808139
224: 0.5978986976962736
225: 0.5976081058774143
226: 0.5973181447176189
227: 0.5970288118224243
228: 0.596740104809455
229: 0.5964520213083591
230: 0.5961645589607422
231: 0.5958777154201043
232: 0.5955914883517746
233: 0.595305875432847
234: 0.5950208743521179
235: 0.5947364828100221
236: 0.5944526985185696
237: 0.5941695192012831
238: 0.5938869425931357
239: 0.5936049664404889
240: 0.59332358850103
241: 0.5930428065437112
242: 0.592762618348689
243: 0.5924830217072617
244: 0.5922040144218107
245: 0.5919255943057382
246: 0.5916477591834087
247: 0.5913705068900886
248: 0.5910938352718867
249: 0.5908177421856956
250: 0.5905422254991329
251: 0.5902672830904815
252: 0.5899929128486329
253: 0.5897191126730275
254: 0.5894458804735991
255: 0.5891732141707161
256: 0.5889011116951242
257: 0.5886295709878907
258: 0.588358590000347
259: 0.588088166694033
260: 0.5878182990406409
261: 0.5875489850219602
262: 0.5872802226298207
263: 0.5870120098660391
264: 0.586744344742364
265: 0.5864772252804205
266: 0.5862106495116562
267: 0.5859446154772884
268: 0.585679121228249
269: 0.5854141648251314
270: 0.5851497443381387
271: 0.5848858578470291
272: 0.584622503441064
273: 0.5843596792189564
274: 0.5840973832888174
275: 0.5838356137681064
276: 0.5835743687835783
277: 0.583313646471232
278: 0.5830534449762608
279: 0.5827937624530006
280: 0.5825345970648804
281: 0.5822759469843716
282: 0.5820178103929379
283: 0.5817601854809863
284: 0.5815030704478181
285: 0.5812464635015788
286: 0.5809903628592097
287: 0.5807347667463999
288: 0.5804796733975375
289: 0.5802250810556613
290: 0.579970987972414
291: 0.5797173924079939
292: 0.5794642926311078
293: 0.5792116869189242
294: 0.5789595735570267
295: 0.5787079508393664
296: 0.5784568170682176
297: 0.57820617055413
298: 0.5779560096158843
299: 0.5777063325804453
300: 0.5774571377829184
301: 0.5772084235665033
302: 0.5769601882824493
303: 0.576712430290012
304: 0.576465147956407
305: 0.5762183396567685
306: 0.5759720037741028
307: 0.575726138699247
308: 0.5754807428308241
309: 0.5752358145752009
310: 0.5749913523464449
311: 0.5747473545662819
312: 0.5745038196640527
313: 0.5742607460766728
314: 0.5740181322485883
315: 0.5737759766317363
316: 0.5735342776855021
317: 0.5732930338766786
318: 0.5730522436794254
319: 0.5728119055752273
320: 0.5725720180528553
321: 0.5723325796083242
322: 0.5720935887448545
323: 0.5718550439728318
324: 0.5716169438097667
325: 0.5713792867802563
326: 0.5711420714159443
327: 0.5709052962554821
328: 0.5706689598444913
329: 0.5704330607355229
330: 0.5701975974880211
331: 0.5699625686682841
332: 0.5697279728494264
333: 0.5694938086113416
334: 0.569260074540664
335: 0.5690267692307323
336: 0.5687938912815523
337: 0.5685614392997599
338: 0.5683294118985843
339: 0.5680978076978124
340: 0.5678666253237512
341: 0.5676358634091936
342: 0.567405520593381
343: 0.5671755955219686
344: 0.5669460868469898
345: 0.566716993226821
346: 0.5664883133261465
347: 0.5662600458159234
348: 0.5660321893733483
349: 0.5658047426818211
350: 0.5655777044309123
351: 0.5653510733163281
352: 0.5651248480398768
353: 0.5648990273094355
354: 0.5646736098389162
355: 0.5644485943482326
356: 0.5642239795632674
357: 0.5639997642158397
358: 0.563775947043671
359: 0.5635525267903537
360: 0.5633295022053195
361: 0.5631068720438056
362: 0.5628846350668241
363: 0.5626627900411292
364: 0.5624413357391868
365: 0.562220270939142
366: 0.5619995944247888
367: 0.5617793049855381
368: 0.5615594014163879
369: 0.5613398825178921
370: 0.5611207470961292
371: 0.5609019939626743
372: 0.5606836219345654
373: 0.5604656298342775
374: 0.5602480164896892
375: 0.5600307807340558
376: 0.559813921405977
377: 0.5595974373493711
378: 0.5593813274134427
379: 0.5591655904526555
380: 0.558950225326703
381: 0.5587352309004799
382: 0.5585206060440537
383: 0.5583063496326365
384: 0.5580924605465561
385: 0.5578789376712296
386: 0.5576657798971338
387: 0.5574529861197788
388: 0.5572405552396801
389: 0.5570284861623305
390: 0.5568167777981747
391: 0.556605429062581
392: 0.5563944388758143
393: 0.55618380616301
394: 0.5559735298541472
395: 0.5557636088840225
396: 0.5555540421922236
397: 0.5553448287231025
398: 0.5551359674257511
399: 0.5549274572539743
400: 0.5547192971662643
401: 0.5545114861257756
402: 0.5543040231002999
403: 0.5540969070622392
404: 0.5538901369885836
405: 0.5536837118608832
406: 0.5534776306652266
407: 0.5532718923922132
408: 0.5530664960369307
409: 0.5528614405989299
410: 0.5526567250822013
411: 0.5524523484951498
412: 0.5522483098505724
413: 0.5520446081656325
414: 0.5518412424618381
415: 0.551638211765017
416: 0.5514355151052942
417: 0.5512331515170682
418: 0.5510311200389882
419: 0.550829419713931
420: 0.5506280495889778
421: 0.5504270087153926
422: 0.5502262961485985
423: 0.5500259109481558
424: 0.5498258521777393
425: 0.549626118905117
426: 0.5494267102021271
427: 0.5492276251446561
428: 0.5490288628126181
429: 0.5488304222899321
430: 0.5486323026645004
431: 0.548434503028188
432: 0.5482370224768007
433: 0.5480398601100644
434: 0.5478430150316032
435: 0.5476464863489191
436: 0.5474502731733717
437: 0.5472543746201565
438: 0.5470587898082849
439: 0.5468635178605635
440: 0.5466685579035743
441: 0.5464739090676539
442: 0.5462795704868739
443: 0.5460855412990202
444: 0.5458918206455744
445: 0.5456984076716924
446: 0.5455053015261867
447: 0.545312501361505
448: 0.5451200063337124
449: 0.5449278156024709
450: 0.5447359283310209
451: 0.5445443436861622
452: 0.5443530608382346
453: 0.5441620789610994
454: 0.5439713972321205
455: 0.5437810148321461
456: 0.5435909309454899
457: 0.5434011447599124
458: 0.5432116554666033
459: 0.543022462260163
460: 0.5428335643385844
461: 0.5426449609032351
462: 0.5424566511588389
463: 0.5422686343134594
464: 0.5420809095784811
465: 0.5418934761685922
466: 0.5417063333017672
467: 0.5415194801992496
468: 0.5413329160855345
469: 0.5411466401883515
470: 0.5409606517386476
471: 0.5407749499705704
472: 0.5405895341214512
473: 0.5404044034317875
474: 0.5402195571452281
475: 0.5400349945085542
476: 0.5398507147716652
477: 0.5396667171875607
478: 0.5394830010123244
479: 0.5392995655051092
480: 0.5391164099281196
481: 0.5389335335465965
482: 0.5387509356288007
483: 0.538568615445998
484: 0.5383865722724427
485: 0.5382048053853621
486: 0.538023314064941
487: 0.5378420975943068
488: 0.5376611552595126
489: 0.5374804863495244
490: 0.5373000901562032
491: 0.5371199659742919
492: 0.5369401131013991
493: 0.536760530837985
494: 0.536581218487346
495: 0.5364021753556002
496: 0.5362234007516727
497: 0.5360448939872811
498: 0.5358666543769203
499: 0.5356886812378495
500: 0.5355109738900767
501: 0.5353335316563447
502: 0.5351563538621169
503: 0.5349794398355638
504: 0.5348027889075481
505: 0.5346264004116116
506: 0.5344502736839606
507: 0.5342744080634528
508: 0.5340988028915834
509: 0.533923457512471
510: 0.5337483712728447
511: 0.5335735435220308
512: 0.5333989736119388
513: 0.5332246608970481
514: 0.5330506047343956
515: 0.5328768044835618
516: 0.5327032595066579
517: 0.5325299691683132
518: 0.5323569328356613
519: 0.5321841498783284
520: 0.5320116196684197
521: 0.5318393415805068
522: 0.5316673149916158
523: 0.5314955392812135
524: 0.5313240138311961
525: 0.531152738025876
526: 0.5309817112519705
527: 0.5308109328985878
528: 0.5306404023572167
529: 0.530470119021713
530: 0.5303000822882884
531: 0.5301302915554982
532: 0.5299607462242293
533: 0.5297914456976882
534: 0.52962238938139
535: 0.5294535766831455
536: 0.5292850070130507
537: 0.5291166797834743
538: 0.5289485944090471
539: 0.5287807503066496
540: 0.5286131468954013
541: 0.5284457835966492
542: 0.5282786598339565
543: 0.5281117750330913
544: 0.5279451286220158
545: 0.5277787200308751
546: 0.5276125486919861
547: 0.5274466140398264
548: 0.5272809155110242
549: 0.5271154525443463
550: 0.5269502245806889
551: 0.5267852310630651
552: 0.5266204714365958
553: 0.5264559451484986
554: 0.5262916516480766
555: 0.5261275903867096
556: 0.5259637608178419
557: 0.5258001623969731
558: 0.5256367945816479
559: 0.5254736568314449
560: 0.5253107486079674
561: 0.5251480693748333
562: 0.5249856185976641
563: 0.5248233957440762
564: 0.52466140028367
565: 0.5244996316880207
566: 0.5243380894306681
567: 0.5241767729871067
568: 0.5240156818347766
569: 0.5238548154530536
570: 0.5236941733232391
571: 0.5235337549285513
572: 0.5233735597541154
573: 0.5232135872869541
574: 0.5230538370159785
575: 0.5228943084319786
576: 0.5227350010276137
577: 0.5225759142974041
578: 0.522417047737721
579: 0.5222584008467778
580: 0.5220999731246212
581: 0.5219417640731218
582: 0.5217837731959654
583: 0.5216259999986441
584: 0.5214684439884477
585: 0.5213111046744539
586: 0.5211539815675208
587: 0.5209970741802773
588: 0.5208403820271152
589: 0.5206839046241799
590: 0.5205276414893619
591: 0.5203715921422888
592: 0.5202157561043165
593: 0.5200601328985209
594: 0.5199047220496892
595: 0.519749523084312
596: 0.5195945355305749
597: 0.5194397589183503
598: 0.5192851927791888
599: 0.519130836646312
600: 0.5189766900546031
601: 0.5188227525406005
602: 0.5186690236424878
603: 0.5185155029000879
604: 0.5183621898548535
605: 0.5182090840498604
606: 0.5180561850297987
607: 0.5179034923409653
608: 0.5177510055312572
609: 0.5175987241501617
610: 0.5174466477487514
611: 0.5172947758796738
612: 0.517143108097146
613: 0.516991643956946
614: 0.5168403830164056
615: 0.5166893248344031
616: 0.5165384689713549
617: 0.5163878149892102
618: 0.5162373624514411
619: 0.5160871109230374
620: 0.5159370599704989
621: 0.515787209161827
622: 0.5156375580665191
623: 0.5154881062555612
624: 0.5153388533014194
625: 0.515189798778035
626: 0.5150409422608161
627: 0.5148922833266307
628: 0.5147438215538007
629: 0.5145955565220939
630: 0.514447487812718
631: 0.514299615008313
632: 0.5141519376929458
633: 0.5140044554521016
634: 0.5138571678726788
635: 0.5137100745429817
636: 0.5135631750527133
637: 0.5134164689929704
638: 0.5132699559562354
639: 0.51312363553637
640: 0.5129775073286099
641: 0.5128315709295572
642: 0.5126858259371745
643: 0.5125402719507781
644: 0.5123949085710325
645: 0.5122497353999432
646: 0.5121047520408512
647: 0.511959958098426
648: 0.51181535317866
649: 0.5116709368888623
650: 0.5115267088376525
651: 0.5113826686349541
652: 0.5112388158919894
653: 0.5110951502212725
654: 0.5109516712366043
655: 0.5108083785530657
656: 0.510665271787012
657: 0.5105223505560673
658: 0.5103796144791178
659: 0.5102370631763071
660: 0.5100946962690295
661: 0.5099525133799246
662: 0.5098105141328715
663: 0.5096686981529833
664: 0.5095270650666013
665: 0.5093856145012889
666: 0.5092443460858267
667: 0.5091032594502067
668: 0.5089623542256267
669: 0.5088216300444844
670: 0.5086810865403727
671: 0.5085407233480735
672: 0.5084005401035531
673: 0.5082605364439555
674: 0.5081207120075986
675: 0.5079810664339676
676: 0.5078415993637102
677: 0.5077023104386318
678: 0.507563199301689
679: 0.5074242655969857
680: 0.5072855089697671
681: 0.5071469290664146
682: 0.5070085255344411
683: 0.5068702980224853
684: 0.5067322461803072
685: 0.5065943696587826
686: 0.5064566681098983
687: 0.5063191411867468
688: 0.5061817885435219
689: 0.506044609835513
690: 0.5059076047191011
691: 0.5057707728517528
692: 0.5056341138920164
693: 0.5054976274995165
694: 0.5053613133349493
695: 0.5052251710600781
696: 0.505089200337728
697: 0.5049534008317819
698: 0.5048177722071744
699: 0.5046823141298892
700: 0.5045470262669525
701: 0.5044119082864296
702: 0.5042769598574195
703: 0.5041421806500507
704: 0.5040075703354768
705: 0.5038731285858714
706: 0.5037388550744243
707: 0.5036047494753362
708: 0.5034708114638151
709: 0.503337040716071
710: 0.5032034369093124
711: 0.5030699997217406
712: 0.502936728832547
713: 0.5028036239219073
714: 0.5026706846709779
715: 0.5025379107618917
716: 0.5024053018777532
717: 0.5022728577026345
718: 0.5021405779215719
719: 0.50200846222056
720: 0.5018765102865491
721: 0.5017447218074402
722: 0.5016130964720814
723: 0.5014816339702624
724: 0.5013503339927126
725: 0.5012191962310952
726: 0.5010882203780042
727: 0.5009574061269592
728: 0.5008267531724027
729: 0.5006962612096958
730: 0.5005659299351133
731: 0.5004357590458408
732: 0.5003057482399702
733: 0.500175897216496
734: 0.5000462056753117
735: 0.49991667331720474
736: 0.49978729984385456
737: 0.499658084957827
738: 0.49952902836257146
739: 0.4994001297624168
740: 0.4992713888625678
741: 0.4991428053691011
742: 0.49901437898896145
743: 0.49888610942995826
744: 0.4987579964007623
745: 0.4986300396109007
746: 0.4985022387707546
747: 0.4983745935915553
748: 0.4982471037853796
749: 0.49811976906514793
750: 0.49799258914461914
751: 0.49786556373838803
752: 0.497738692561881
753: 0.4976119753313538
754: 0.4974854117638861
755: 0.49735900157738006
756: 0.4972327444905549
757: 0.4971066402229453
758: 0.49698068849489696
759: 0.4968548890275629
760: 0.49672924154290093
761: 0.4966037457636695
762: 0.49647840141342503
763: 0.496353208216518
764: 0.49622816589809005
765: 0.49610327418406996
766: 0.49597853280117166
767: 0.49585394147688944
768: 0.4957294999394958
769: 0.49560520791803797
770: 0.49548106514233414
771: 0.49535707134297075
772: 0.49523322625129934
773: 0.49510952959943344
774: 0.49498598112024467
775: 0.4948625805473606
776: 0.49473932761516104
777: 0.4946162220587749
778: 0.49449326361407764
779: 0.4943704520176875
780: 0.4942477870069627
781: 0.49412526831999876
782: 0.4940028956956248
783: 0.4938806688734012
784: 0.4937585875936161
785: 0.4936366515972827
786: 0.49351486062613587
787: 0.4933932144226301
788: 0.49327171272993553
789: 0.4931503552919355
790: 0.49302914185322394
791: 0.49290807215910176
792: 0.49278714595557455
793: 0.4926663629893496
794: 0.49254572300783306
795: 0.49242522575912656
796: 0.4923048709920254
797: 0.49218465845601495
798: 0.49206458790126817
799: 0.4919446590786426

In [30]:
for j in range(len(best_epochs_list)):
    print(f"{j}: {best_epochs_list[j]}", end='\n')

In [31]:
theta

array([ 0.01212269,  0.02345473,  0.03256924, -0.07147594, -0.0016775 ,
       -0.07653893, -0.04301386, -0.12239441, -0.08660933, -0.06100693,
       -0.05446296, -0.05123185,  0.00370082,  0.07088009, -0.00160816,
        0.025565  ,  0.02339999, -0.04660636, -0.04567473, -0.05258916,
       -0.05401114, -0.04501097, -0.04710228, -0.05281951, -0.04661317,
       -0.09413822, -0.0151079 , -0.20134004, -0.07984116, -0.04818801,
       -0.07130058, -0.27093874, -0.02998014, -0.04865858, -0.06437008,
       -0.04381637, -0.04140956, -0.05397295, -0.10821965, -0.039458  ,
        0.00166869,  0.00071821, -0.01307631, -0.0333952 , -0.10660031,
       -0.14603903, -0.13778798])

## Model performance on training set

We can test the performance of the model through its confusion matrix, F1 score, and accuracy score.

First, we predict on the training set.

In [32]:
## On training data
pred = fwd(X_train, theta, dbg=False)

## Decision (Threshold = 0.5)
y_train_hat = (pred >= 0.5).astype(int)

In [33]:
y_train_hat.shape

(79999, 1)

In [34]:
y_train.shape

(79999, 1)

In [35]:
print(confusion_matrix(y_train, y_train_hat))

[[56248  9371]
 [ 5520  8860]]

In [36]:
print(f1_score(y_train, y_train_hat))

0.5433749348379381

In [37]:
print(roc_auc_score(y_train, pred))

0.8283388198671469

In [38]:
print(accuracy_score(y_train, y_train_hat))

0.8138601732521656

## Model performance on test set

Now, we predict on the test set.

In [39]:
## On test data

pred = fwd(X_test, theta, dbg=False)

## Decision (Threshold = 0.5)
y_test_hat = (pred >= 0.5).astype(int)

In [40]:
y_test_hat.shape

(20000, 1)

In [41]:
y_test.shape

(20000, 1)

In [42]:
print(confusion_matrix(y_test, y_test_hat))

[[14186  2366]
 [ 1323  2125]]

In [43]:
print(f1_score(y_test, y_test_hat))

0.5353319057815846

In [44]:
print(roc_auc_score(y_test, pred))

0.8270147220767512

In [45]:
print(accuracy_score(y_test, y_test_hat))

0.81555

## Write to a CSV file

In [47]:
# Convert the NumPy array to a DataFrame
X_train_csv = pd.DataFrame(X_train)
y_train_csv = pd.DataFrame(y_train)
X_test_csv = pd.DataFrame(X_test)
y_test_csv = pd.DataFrame(y_test)

# Save the DataFrame to a CSV file
X_train_csv.to_csv("../cscore_data/X_train_79999.csv", index=False)
y_train_csv.to_csv("../cscore_data/y_train_79999.csv", index=False)
X_test_csv.to_csv("../cscore_data/X_test_20000.csv", index=False)
y_test_csv.to_csv("../cscore_data/y_test_20000.csv", index=False)

In [48]:
del X