# Credit score classification using logistic regression

We are using a credit-related dataset found in Kaggle (source: https://www.kaggle.com/datasets/parisrohan/credit-score-classification/data). The dataset consists of 27 input features and one target label, that is the credit score.

Goal : To predict the credit score of a new, unseen data using logistic regression model.

In [15]:
import numpy as np
np.random.seed(42)
import pandas as pd
import tqdm
import time

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import roc_auc_score, precision_score, recall_score
from sklearn.metrics import confusion_matrix, accuracy_score, f1_score
from sklearn.impute import KNNImputer
from numba import njit

np.seterr(all='raise')

{'divide': 'raise', 'over': 'raise', 'under': 'raise', 'invalid': 'raise'}

## Load and clean the data

In [2]:
def load_data():
    filename = "../train_data/cs_train.csv"
    df = pd.read_csv(filename)

    ## Separate target from features
    X = df.drop(columns=['Credit_Score'])
    y = df['Credit_Score']

    return X, y

In [ ]:
def split_random_sample(X, y, num_samples, compare_to_r_ref):

In [26]:
def slice_split(X, y, num_samples, compare_to_r_ref):
    X = X.to_numpy()[:num_samples]
    y = y.to_numpy()[:num_samples]
    
    ## Split into training and test set
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=1332)
    
    print(f"Train X shape is: {X_train.shape}")
    print(f"Train Y shape is: {y_train.shape}")
    print(f"Test X shape is: {X_test.shape}")
    print(f"Test Y shape is: {y_test.shape}")
    return X_train, X_test, y_train, y_test

In [4]:
X, y = load_data()
X.head()

C:\Users\USER\AppData\Local\Temp\ipykernel_29320\566418612.py:3: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,4.0,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,4.0,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,4.0,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177

We'll then perform data cleaning to filter out irrelevant features for our prediction. A little bit of feature engineering after might be necessary.

First of all, we need to look more into our 'Monthly_Balance' column, which holds more than one data type, hence detected as DTypeWarning.

In [5]:
print(X['Monthly_Balance'].unique())

['312.49408867943663' '284.62916249607184' '331.2098628537912' ...
 516.8090832742814 319.1649785257098 393.6736955618808]

In [6]:
X['Monthly_Balance'] = pd.to_numeric(X['Monthly_Balance'], errors='coerce')
X.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.494089
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,4.0,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.629162
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,4.0,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.209863
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,4.0,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.451310
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.489231

In [7]:
X.shape

(100000, 27)

'ID', 'Customer_ID', 'Name', 'SSN', 'Occupation', and 'Type_of_Loan' are, for now, **irrelevant** to the prediction.

In [8]:
## Drop irrelevant features
X = X.drop(columns=['ID', 'Customer_ID', 'Name', 'SSN', 'Occupation', 'Type_of_Loan'])
X.shape

(100000, 21)

Furthermore, there are features that hold string values, which obviously cannot be processed by the logistic regression model. We need to convert them into one-hot encoding vectors.

In [9]:
## One-hot encoding
X = pd.get_dummies(X, columns=['Month', 'Credit_Mix', 'Payment_of_Min_Amount', 'Payment_Behaviour'])
y = pd.get_dummies(y)
print(f"New shape of X: {X.shape}")
print(f"New shape of y: {y.shape}")

New shape of X: (100000, 39)
New shape of y: (100000, 3)

In [10]:
## Map 'Credit_History_Age' into decimals and NaN values
import re

# Replace 'NA' with NaN
X['Credit_History_Age'].replace('NA', pd.NA, inplace=True)

# Function to extract years and months
def extract_years_months(value):
    if pd.isna(value):
        return value
    match = re.match(r'(\d+)\s+Years?\s+and\s+(\d+)\s+Months?', value)
    if match:
        years, months = map(int, match.groups())
        return years + months / 12
    return None

# Apply the function to the column
X['Credit_History_Age'] = X['Credit_History_Age'].apply(extract_years_months)

C:\Users\USER\AppData\Local\Temp\ipykernel_29320\2337723389.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X['Credit_History_Age'].replace('NA', pd.NA, inplace=True)

In [11]:
X['Credit_History_Age'].head()

0    22.083333
1          NaN
2    22.250000
3    22.333333
4    22.416667
Name: Credit_History_Age, dtype: float64

Now, we need to address NaN values as a part of data cleaning process.

In [12]:
## Make sure all values are numerical
X_num = X.apply(pd.to_numeric, errors='coerce')

In [13]:
X_num.isna().sum()

Age                                                    4939
Annual_Income                                          6980
Monthly_Inhand_Salary                                 15002
Num_Bank_Accounts                                         0
Num_Credit_Card                                           0
Interest_Rate                                             0
Num_of_Loan                                            4785
Delay_from_due_date                                       0
Num_of_Delayed_Payment                                 9746
Changed_Credit_Limit                                   2091
Num_Credit_Inquiries                                   1965
Outstanding_Debt                                       1009
Credit_Utilization_Ratio                                  0
Credit_History_Age                                     9030
Total_EMI_per_month                                       0
Amount_invested_monthly                                8784
Monthly_Balance                                        1209
Month_April                                               0
Month_August                                              0
Month_February                                            0
Month_January                                             0
Month_July                                                0
Month_June                                                0
Month_March                                               0
Month_May                                                 0
Credit_Mix_Bad                                            0
Credit_Mix_Good                                           0
Credit_Mix_Standard                                       0
Credit_Mix__                                              0
Payment_of_Min_Amount_NM                                  0
Payment_of_Min_Amount_No                                  0
Payment_of_Min_Amount_Yes                                 0
Payment_Behaviour_!@9#%8                                  0
Payment_Behaviour_High_spent_Large_value_payments         0
Payment_Behaviour_High_spent_Medium_value_payments        0
Payment_Behaviour_High_spent_Small_value_payments         0
Payment_Behaviour_Low_spent_Large_value_payments          0
Payment_Behaviour_Low_spent_Medium_value_payments         0
Payment_Behaviour_Low_spent_Small_value_payments          0
dtype: int64

In [16]:
## Fill the missing values with mean in each column
# X_num = X_num.fillna(X_num.mean())

# Initialize the KNN imputer
imputer = KNNImputer(missing_values=np.nan, n_neighbors=5)

# Fit and transform the data
start_time = time.time()
X_imputed = imputer.fit_transform(X_num)
end_time = time.time()

print(f"KNNImputer fitting time: {end_time - start_time} seconds")

# Convert back to DataFrame
X_num = pd.DataFrame(X_imputed, columns=X_num.columns)
del X_imputed

KNNImputer fitting time: 719.2777955532074 seconds

In [17]:
X_num.isna().sum()

Age                                                   0
Annual_Income                                         0
Monthly_Inhand_Salary                                 0
Num_Bank_Accounts                                     0
Num_Credit_Card                                       0
Interest_Rate                                         0
Num_of_Loan                                           0
Delay_from_due_date                                   0
Num_of_Delayed_Payment                                0
Changed_Credit_Limit                                  0
Num_Credit_Inquiries                                  0
Outstanding_Debt                                      0
Credit_Utilization_Ratio                              0
Credit_History_Age                                    0
Total_EMI_per_month                                   0
Amount_invested_monthly                               0
Monthly_Balance                                       0
Month_April                                           0
Month_August                                          0
Month_February                                        0
Month_January                                         0
Month_July                                            0
Month_June                                            0
Month_March                                           0
Month_May                                             0
Credit_Mix_Bad                                        0
Credit_Mix_Good                                       0
Credit_Mix_Standard                                   0
Credit_Mix__                                          0
Payment_of_Min_Amount_NM                              0
Payment_of_Min_Amount_No                              0
Payment_of_Min_Amount_Yes                             0
Payment_Behaviour_!@9#%8                              0
Payment_Behaviour_High_spent_Large_value_payments     0
Payment_Behaviour_High_spent_Medium_value_payments    0
Payment_Behaviour_High_spent_Small_value_payments     0
Payment_Behaviour_Low_spent_Large_value_payments      0
Payment_Behaviour_Low_spent_Medium_value_payments     0
Payment_Behaviour_Low_spent_Small_value_payments      0
dtype: int64

## Feature engineering

Feature engineering lets us create new features by combining existing ones. These new features help the model to see the relationship between features and can improve the model's performance.

In [18]:
## Interaction features
X_num['Debt_to_Income_Ratio'] = X_num['Outstanding_Debt'] / X_num['Annual_Income']
X_num['Loan_to_Income_Ratio'] = X_num['Num_of_Loan'] / X_num['Annual_Income']
X_num['Investment_Ratio'] = X_num['Amount_invested_monthly'] / X_num['Monthly_Inhand_Salary']
X_num['Credit_Card_Utilization'] = X_num['Credit_Utilization_Ratio'] * X_num['Num_Credit_Card']

## Aggregated features
X_num['Total_Debt'] = X_num['Outstanding_Debt'] + X_num['Total_EMI_per_month']

## One-hot encoding for seasons
## --> Winter
X_num['Winter'] = X_num['Month_January'] + X_num['Month_February']
## --> Spring
X_num['Spring'] = X_num['Month_March'] + X_num['Month_April'] + X_num['Month_May']
## --> Summer
X_num['Summer'] = X_num['Month_June'] + X_num['Month_July'] + X_num['Month_August']

We also need to perform normalization to some features so that all features are in a virtually comparable range of values (feature scaling). We will use z-score normalization that subtracts the mean from each feature and divide the resulting value by its standard deviation.

First, we will reduce the impact of **outliers** (i.e., skewed, and possibly incorrect,
values in columns that might distort z-score normalization results) by applying natural log transformation.

In [19]:
columns_log = [
    'Age', 'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
    'Num_Credit_Card',
    'Interest_Rate', 'Num_of_Loan', 'Delay_from_due_date', 'Num_of_Delayed_Payment',
    'Changed_Credit_Limit', 'Num_Credit_Inquiries', 'Outstanding_Debt',
    'Credit_Utilization_Ratio', 'Credit_History_Age', 'Total_EMI_per_month',
    'Amount_invested_monthly', 'Monthly_Balance',
    'Debt_to_Income_Ratio', 'Loan_to_Income_Ratio', 'Investment_Ratio', 
    'Credit_Card_Utilization', 'Total_Debt'
]

## Prevent FloatingPointError
X_num[columns_log] = X_num[columns_log].map(lambda x: x if x >= 0 else 0.01)

## Apply log transformation to necessary columns
X_num[columns_log] = np.log1p(X_num[columns_log])

We can then proceed for normalization.

In [20]:
## We want to normalize all columns except one-hot encoding vectors
columns_norm = [
    'Age', 'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts', 
    'Num_Credit_Card',
    'Interest_Rate', 'Num_of_Loan', 'Delay_from_due_date', 'Num_of_Delayed_Payment',
    'Changed_Credit_Limit', 'Num_Credit_Inquiries', 'Outstanding_Debt',
    'Credit_Utilization_Ratio', 'Credit_History_Age', 'Total_EMI_per_month',
    'Amount_invested_monthly', 'Monthly_Balance',
    'Debt_to_Income_Ratio', 'Loan_to_Income_Ratio', 'Investment_Ratio', 
    'Credit_Card_Utilization', 'Total_Debt'
]

## Initialize the scaler
scaler = StandardScaler()

## Fit and transform the selected columns
X_num[columns_norm] = scaler.fit_transform(X_num[columns_norm])

In [21]:
X_num['Debt_to_Income_Ratio'].head()

0   -0.183463
1   -0.183463
2   -0.183463
3   -0.183463
4   -0.183463
Name: Debt_to_Income_Ratio, dtype: float64

In [22]:
X_num['Num_Credit_Card'].head()

0   -0.409512
1   -0.409512
2   -0.409512
3   -0.409512
4   -0.409512
Name: Num_Credit_Card, dtype: float64

## Risk minimization

We need to come to an understanding that logistic regression model cannot be trained on the target label of three possible binary values.

In [23]:
y.head()

   Good   Poor  Standard
0  True  False     False
1  True  False     False
2  True  False     False
3  True  False     False
4  True  False     False

Let's assume that the global finance company we're working with is not looking for more market expansion and is trying to minimize loan risk. Therefore, we want to label parties with **Good** credit scores as being eligible for loans, while the rest are not.

In [24]:
## Create a new binary label
y['Target'] = y['Good']

## Drop the original one-hot encoded columns
y = y.drop(columns=['Good', 'Standard', 'Poor'])

In [25]:
y.shape

(100000, 1)

## Preparing data for training

In [86]:
## NUM_SAMPLES is the combination of all sets (NUM_TRAINING + NUM_TEST)
NUM_SAMPLES = 8192
COMPARE_TO_R_REF = False
lr = 0.001
mu = 0.5

## Slice data into NumPy arrays and split into training and test sets
X_train, X_test, y_train, y_test = slice_split(
    X_num, y,
    num_samples=NUM_SAMPLES,
    compare_to_r_ref=COMPARE_TO_R_REF
)

## n = num_of_features
n = X_train.shape[1]

# Same shape as Marcelo's reference code
betas = np.zeros((n, ))
# betas = np.random.randn(n)

Train X shape is: (4096, 47)
Train Y shape is: (4096, 1)
Test X shape is: (4096, 47)
Test Y shape is: (4096, 1)

In [87]:
n

47

## Applying Principal Component Analysis

Principal Component Analysis (PCA) allows for a reduced dataset, meaning the new dataset will have a small number of new features (called the principal components), which explains all original features. 

How well these new features explain the original ones is parameterized by explained variance ratio.

In [88]:
from sklearn.decomposition import PCA

def apply_pca(X_train, X_test, n_components):
    pca = PCA(n_components=n_components)
    X_train_pca = pca.fit_transform(X_train)
    X_test_pca = pca.transform(X_test)
    
    print(f"Explained variance ratio: {pca.explained_variance_ratio_}")
    print(f"Number of components after PCA: {X_train_pca.shape[1]}")
    
    return X_train_pca, X_test_pca

In [89]:
X_train, X_test = apply_pca(X_train, X_test, n_components=32)

## n = num_of_features
n = X_train.shape[1]
print(f"n = {n}")

# Same shape as Marcelo's reference code
betas = np.zeros((n, ))

Explained variance ratio: [0.21939469 0.0915127  0.08018888 0.07458434 0.05153002 0.04331276
 0.04107244 0.03735378 0.03498121 0.03048053 0.0273365  0.02678491
 0.02415991 0.02111715 0.02027564 0.01919968 0.01663116 0.01569339
 0.01512239 0.01095883 0.00982277 0.00861407 0.00802758 0.00687137
 0.00639006 0.00629253 0.00549047 0.00502738 0.00495027 0.00487403
 0.004825   0.00474715]
Number of components after PCA: 32
n = 32

In [90]:
print(f"Train X shape is: {X_train.shape}")
print(f"Train Y shape is: {y_train.shape}")
print(f"Test X shape is: {X_test.shape}")
print(f"Test Y shape is: {y_test.shape}")

Train X shape is: (4096, 32)
Train Y shape is: (4096, 1)
Test X shape is: (4096, 32)
Test Y shape is: (4096, 1)

## Nesterov model training

In [91]:
@njit
def sigmoid(z):
    return 1 / (1 + np.exp(-z))

@njit
def fwd(train_x, betas, dbg=False):
    preds = train_x @ betas   # A vector of linear_predictions/logits z = train_x @ weights
    if dbg:
        print(f"Logits: {preds}")
    return np.expand_dims(sigmoid(preds), -1)   # Shape: (m, 1)

@njit
def calculate_gradient(train_x, train_y, betas, fwd, dbg):
    preds = fwd(train_x, betas, dbg)   # A vector of logistic predictions y_hat = sigmoid(z)
    gradient = -train_x.T @ (train_y - preds) / len(train_y)
    return gradient   # Shape: (10, 1) == Rows correspond to num_features
    ## This function is used to update the values of betas: w_new = w_old + lr * gradient

def cost(x, y, theta):
    m = x.shape[0]
    h = sigmoid(np.matmul(x, theta))   # h: hypothesis, basically preds/y_hat
    t1 = np.matmul(-y.T, np.log(np.clip(h, 0.000000000000001, np.max(h))))
    t2_a = (1 - y.T)
    t2_b = np.log(np.clip(1 - h, 0.000000000000001, np.max(1 - h)))  # Used to get numerical issues
    ## np.clip() function prevents computing the log of 0, by taking the minimum of 1e-15.
    t2 = np.matmul(t2_a, t2_b)

    return ((t1 - t2) / m)[0]   # Shape: (1,) == scalar value

def nesterov(betas, epochs, patience, lr, mu, train_x, train_y):
    import copy

    phi = copy.deepcopy(betas)
    theta = copy.deepcopy(betas)

    check_early = 0
    best_loss = float('inf')
    best_epochs_list = []

    nesterov_loss = [0 for _ in range(epochs)]
    for i in tqdm.trange(epochs):
    # for i in range(epochs):
        gradient = calculate_gradient(train_x, train_y, theta, fwd, dbg=False)

        ## Assign updated weights into phi_prime
        phi_prime = theta - lr * np.squeeze(gradient)   # np.squeeze() removes single dimensions --> shape (10,)
        
        ## Nesterov acceleration process
        if i == 0:
            theta = phi_prime
        else:
            ## If current updated weight (phi_prime) < previous weight (phi), 
            ## The updated weight theta will be even smaller.
            theta = phi_prime + mu * (phi_prime - phi)
        phi = phi_prime   # phi is then the weight of the previous epoch/update
        loss = cost(train_x, train_y, theta)

        ## Early stopping
        if patience > 0:
            if loss < best_loss:
                best_loss = loss
                best_epoch = i
                best_theta = theta
                best_epochs_list.append(best_epoch)
                check_early = 0
            else:
                check_early += 1
                if check_early >= patience:
                    print(f"Early stopping at {patience} epochs after {best_epoch} with best loss {best_loss}")
                    return nesterov_loss[:best_epoch + 1], best_theta, phi, best_epochs_list
        else:
            best_epoch = epochs - 1
            best_theta = theta

        ## Update list
        nesterov_loss[i] = loss

        # print(f"New loss: {cost(train_x, train_y, v)[0]}")
    return nesterov_loss[:best_epoch + 1], best_theta, phi, best_epochs_list

In [92]:
# Ensure inputs are of the correct type
betas = np.array(betas, dtype=np.float64)
X_train = np.array(X_train, dtype=np.float64)
y_train = np.array(y_train, dtype=np.float64)
X_test = np.array(X_test, dtype=np.float64)
y_test = np.array(y_test, dtype=np.float64)
lr = float(lr)
mu = float(mu)

In [93]:
losses, theta, phi, best_epochs_list = nesterov(betas, 800, -1, lr, mu, X_train, y_train)

100%|██████████| 800/800 [00:02<00:00, 288.13it/s]

In [94]:
for j in range(len(losses)):
    print(f"{j}: {losses[j]}", end='\n')
# Ideal Gradient (800 epochs) #
## seed(42), lr = 0.001, mu = 0.3 --> loss = 0.5433165928958901
## seed(42), lr = 0.001, mu = 0.5 --> loss = 0.5139704562064134

# Oscillating Gradient (800 epochs) #
## seed(42), lr = 0.003, mu = 0.5 --> loss = 0.49509424569059735
## seed(42), lr = 0.003, mu = 0.6 --> loss = 0.4102733269497619

# Early stopping (patience = 50) #
## seed(42), lr = 0.003, mu = 0.5 --> 964: 0.410228534339208
## seed(42), lr = 0.003, mu = 0.6 --> 422: 0.46334269494781627

# Ideal Gradient (800 epochs) with Feature Engineering #
## seed(42), lr = 0.001, mu = 0.3 --> loss = 0.523951850559082
## seed(42), lr = 0.001, mu = 0.5 --> loss = 0.4922252143522289

# Early stopping (patience = 50) with Feature Engineering #
## seed(42), lr = 0.003, mu = 0.5 --> 739: 0.41164361016071044
## seed(42), lr = 0.003, mu = 0.6 --> 314: 0.4688941580652026

0: 0.693003682604868
1: 0.6927890738578446
2: 0.692539657072174
3: 0.6922735958810877
4: 0.6919999660780027
5: 0.6917232979658036
6: 0.6914458502201825
7: 0.6911687467462324
8: 0.6908925447138424
9: 0.6906175182900889
10: 0.6903438003406072
11: 0.690071453192347
12: 0.6898005039696082
13: 0.6895309622390359
14: 0.6892628288205002
15: 0.6889961001866802
16: 0.6887307706598937
17: 0.6884668335089974
18: 0.6882042814970458
19: 0.6879431071546931
20: 0.6876833029166447
21: 0.6874248611897253
22: 0.6871677743867979
23: 0.6869120349436328
24: 0.6866576353272601
25: 0.686404568040071
26: 0.6861528256217955
27: 0.6859024006504187
28: 0.6856532857425672
29: 0.6854054735536306
30: 0.685158956777751
31: 0.6849137281477451
32: 0.6846697804349935
33: 0.6844271064493125
34: 0.6841856990388175
35: 0.6839455510897812
36: 0.683706655526491
37: 0.6834690053111021
38: 0.6832325934434923
39: 0.6829974129611145
40: 0.6827634569388492
41: 0.6825307184888574
42: 0.6822991907604306
43: 0.6820688669398435
44: 0.6818397402502044
45: 0.681611803951306
46: 0.6813850513394755
47: 0.6811594757474245
48: 0.6809350705440996
49: 0.6807118291345313
50: 0.6804897449596835
51: 0.6802688114963026
52: 0.680049022256767
53: 0.6798303707889347
54: 0.6796128506759938
55: 0.6793964555363087
56: 0.6791811790232707
57: 0.6789670148251449
58: 0.6787539566649187
59: 0.6785419983001502
60: 0.6783311335228163
61: 0.67812135615916
62: 0.6779126600695392
63: 0.6777050391482743
64: 0.6774984873234965
65: 0.6772929985569947
66: 0.677088566844065
67: 0.6768851862133577
68: 0.6766828507267257
69: 0.6764815544790728
70: 0.6762812915982013
71: 0.6760820562446612
72: 0.6758838426115976
73: 0.6756866449246001
74: 0.6754904574415512
75: 0.6752952744524742
76: 0.6751010902793833
77: 0.6749078992761318
78: 0.6747156958282621
79: 0.674524474352854
80: 0.6743342292983754
81: 0.6741449551445312
82: 0.6739566464021138
83: 0.6737692976128531
84: 0.6735829033492664
85: 0.6733974582145105
86: 0.6732129568422306
87: 0.673029393896413
88: 0.6728467640712356
89: 0.6726650620909203
90: 0.6724842827095835
91: 0.6723044207110905
92: 0.6721254709089061
93: 0.6719474281459479
94: 0.6717702872944401
95: 0.6715940432557659
96: 0.6714186909603219
97: 0.6712442253673723
98: 0.6710706414649023
99: 0.6708979342694743
100: 0.6707260988260816
101: 0.6705551302080046
102: 0.6703850235166666
103: 0.6702157738814898
104: 0.6700473764597518
105: 0.6698798264364422
106: 0.6697131190241212
107: 0.6695472494627757
108: 0.6693822130196778
109: 0.6692180049892443
110: 0.6690546206928947
111: 0.6688920554789102
112: 0.6687303047222941
113: 0.668569363824632
114: 0.6684092282139514
115: 0.6682498933445844
116: 0.6680913546970273
117: 0.6679336077778032
118: 0.6677766481193251
119: 0.6676204712797573
120: 0.6674650728428793
121: 0.6673104484179495
122: 0.6671565936395693
123: 0.6670035041675473
124: 0.666851175686765
125: 0.6666996039070411
126: 0.6665487845629994
127: 0.6663987134139331
128: 0.6662493862436729
129: 0.6661007988604553
130: 0.6659529470967877
131: 0.6658058268093194
132: 0.6656594338787101
133: 0.6655137642094975
134: 0.6653688137299688
135: 0.6652245783920309
136: 0.66508105417108
137: 0.6649382370658746
138: 0.6647961230984063
139: 0.6646547083137717
140: 0.6645139887800465
141: 0.6643739605881583
142: 0.6642346198517596
143: 0.6640959627071032
144: 0.6639579853129169
145: 0.6638206838502788
146: 0.6636840545224926
147: 0.6635480935549647
148: 0.6634127971950807
149: 0.6632781617120836
150: 0.6631441833969507
151: 0.6630108585622723
152: 0.6628781835421319
153: 0.6627461546919832
154: 0.6626147683885332
155: 0.6624840210296202
156: 0.6623539090340964
157: 0.6622244288417087
158: 0.6620955769129812
159: 0.6619673497290977
160: 0.661839743791785
161: 0.6617127556231966
162: 0.6615863817657965
163: 0.6614606187822443
164: 0.6613354632552808
165: 0.6612109117876134
166: 0.6610869610018016
167: 0.6609636075401462
168: 0.6608408480645737
169: 0.6607186792565265
170: 0.6605970978168505
171: 0.6604761004656835
172: 0.6603556839423459
173: 0.6602358450052292
174: 0.6601165804316882
175: 0.6599978870179305
176: 0.659879761578909
177: 0.659762200948214
178: 0.6596452019779651
179: 0.659528761538705
180: 0.6594128765192929
181: 0.659297543826799
182: 0.6591827603863982
183: 0.6590685231412671
184: 0.6589548290524778
185: 0.6588416750988954
186: 0.6587290582770741
187: 0.6586169756011553
188: 0.6585054241027648
189: 0.6583944008309108
190: 0.6582839028518834
191: 0.6581739272491539
192: 0.6580644711232742
193: 0.6579555315917771
194: 0.6578471057890782
195: 0.6577391908663761
196: 0.6576317839915549
197: 0.6575248823490863
198: 0.6574184831399329
199: 0.6573125835814511
200: 0.6572071809072956
201: 0.6571022723673229
202: 0.6569978552274975
203: 0.6568939267697963
204: 0.6567904842921145
205: 0.6566875251081726
206: 0.656585046547423
207: 0.6564830459549572
208: 0.6563815206914141
209: 0.6562804681328878
210: 0.6561798856708371
211: 0.6560797707119941
212: 0.6559801206782754
213: 0.6558809330066903
214: 0.6557822051492533
215: 0.6556839345728953
216: 0.6555861187593739
217: 0.6554887552051878
218: 0.6553918414214874
219: 0.6552953749339899
220: 0.655199353282891
221: 0.6551037740227807
222: 0.6550086347225574
223: 0.6549139329653424
224: 0.6548196663483961
225: 0.6547258324830338
226: 0.6546324289945422
227: 0.6545394535220963
228: 0.6544469037186766
229: 0.6543547772509875
230: 0.6542630717993747
231: 0.6541717850577453
232: 0.6540809147334858
233: 0.6539904585473818
234: 0.6539004142335393
235: 0.6538107795393039
236: 0.6537215522251827
237: 0.6536327300647656
238: 0.6535443108446465
239: 0.6534562923643468
240: 0.6533686724362371
241: 0.6532814488854614
242: 0.6531946195498597
243: 0.6531081822798931
244: 0.6530221349385675
245: 0.6529364754013591
246: 0.6528512015561397
247: 0.652766311303102
248: 0.6526818025546867
249: 0.6525976732355079
250: 0.6525139212822817
251: 0.6524305446437527
252: 0.6523475412806219
253: 0.6522649091654755
254: 0.6521826462827132
255: 0.6521007506284776
256: 0.6520192202105836
257: 0.6519380530484487
258: 0.651857247173023
259: 0.6517768006267194
260: 0.6516967114633468
261: 0.6516169777480395
262: 0.6515375975571902
263: 0.6514585689783817
264: 0.6513798901103209
265: 0.651301559062771
266: 0.6512235739564851
267: 0.6511459329231403
268: 0.6510686341052723
269: 0.6509916756562093
270: 0.6509150557400082
271: 0.6508387725313893
272: 0.6507628242156723
273: 0.6506872089887127
274: 0.6506119250568383
275: 0.6505369706367857
276: 0.6504623439556392
277: 0.6503880432507668
278: 0.6503140667697588
279: 0.6502404127703668
280: 0.650167079520442
281: 0.6500940652978746
282: 0.6500213683905335
283: 0.6499489870962054
284: 0.6498769197225365
285: 0.6498051645869718
286: 0.6497337200166965
287: 0.6496625843485778
288: 0.6495917559291058
289: 0.6495212331143362
290: 0.6494510142698324
291: 0.6493810977706078
292: 0.6493114820010698
293: 0.6492421653549623
294: 0.6491731462353101
295: 0.6491044230543624
296: 0.6490359942335377
297: 0.6489678582033687
298: 0.6489000134034462
299: 0.648832458282366
300: 0.648765191297674
301: 0.6486982109158118
302: 0.6486315156120641
303: 0.6485651038705045
304: 0.6484989741839432
305: 0.6484331250538736
306: 0.6483675549904212
307: 0.6483022625122898
308: 0.648237246146712
309: 0.6481725044293957
310: 0.6481080359044745
311: 0.6480438391244562
312: 0.6479799126501729
313: 0.6479162550507301
314: 0.6478528649034575
315: 0.6477897407938592
316: 0.6477268813155647
317: 0.6476642850702794
318: 0.6476019506677367
319: 0.647539876725649
320: 0.64747806186966
321: 0.6474165047332969
322: 0.6473552039579229
323: 0.6472941581926901
324: 0.6472333660944923
325: 0.6471728263279191
326: 0.647112537565208
327: 0.6470524984862009
328: 0.646992707778296
329: 0.6469331641364034
330: 0.6468738662628998
331: 0.6468148128675835
332: 0.6467560026676293
333: 0.6466974343875457
334: 0.6466391067591284
335: 0.6465810185214185
336: 0.6465231684206579
337: 0.6464655552102465
338: 0.6464081776506987
339: 0.6463510345096006
340: 0.6462941245615688
341: 0.6462374465882057
342: 0.6461809993780602
343: 0.6461247817265838
344: 0.6460687924360904
345: 0.646013030315715
346: 0.6459574941813716
347: 0.6459021828557143
348: 0.6458470951680954
349: 0.6457922299545251
350: 0.6457375860576333
351: 0.6456831623266275
352: 0.6456289576172553
353: 0.6455749707917637
354: 0.6455212007188614
355: 0.6454676462736788
356: 0.6454143063377306
357: 0.6453611797988764
358: 0.6453082655512841
359: 0.6452555624953904
360: 0.6452030695378645
361: 0.6451507855915708
362: 0.6450987095755303
363: 0.6450468404148856
364: 0.644995177040863
365: 0.6449437183907365
366: 0.6448924634077915
367: 0.6448414110412893
368: 0.6447905602464307
369: 0.6447399099843201
370: 0.6446894592219317
371: 0.6446392069320728
372: 0.6445891520933498
373: 0.6445392936901333
374: 0.6444896307125237
375: 0.6444401621563167
376: 0.6443908870229696
377: 0.6443418043195677
378: 0.6442929130587894
379: 0.644244212258875
380: 0.6441957009435914
381: 0.6441473781421998
382: 0.6440992428894237
383: 0.6440512942254152
384: 0.6440035311957233
385: 0.6439559528512616
386: 0.643908558248276
387: 0.643861346448313
388: 0.6438143165181888
389: 0.6437674675299567
390: 0.643720798560877
391: 0.6436743086933855
392: 0.6436279970150622
393: 0.6435818626186018
394: 0.6435359046017826
395: 0.6434901220674358
396: 0.6434445141234164
397: 0.6433990798825728
398: 0.6433538184627172
399: 0.6433087289865956
400: 0.6432638105818599
401: 0.6432190623810368
402: 0.6431744835215004
403: 0.6431300731454428
404: 0.6430858303998453
405: 0.6430417544364506
406: 0.6429978444117336
407: 0.6429540994868747
408: 0.6429105188277302
409: 0.642867101604806
410: 0.6428238469932295
411: 0.6427807541727218
412: 0.6427378223275713
413: 0.6426950506466059
414: 0.6426524383231664
415: 0.6426099845550807
416: 0.6425676885446349
417: 0.6425255494985493
418: 0.6424835666279514
419: 0.6424417391483489
420: 0.6424000662796054
421: 0.6423585472459132
422: 0.6423171812757689
423: 0.6422759676019466
424: 0.6422349054614745
425: 0.6421939940956082
426: 0.6421532327498058
427: 0.6421126206737047
428: 0.6420721571210948
429: 0.6420318413498955
430: 0.6419916726221309
431: 0.6419516502039055
432: 0.6419117733653802
433: 0.6418720413807485
434: 0.6418324535282127
435: 0.6417930090899602
436: 0.64175370735214
437: 0.6417145476048399
438: 0.6416755291420629
439: 0.6416366512617036
440: 0.6415979132655265
441: 0.6415593144591427
442: 0.641520854151987
443: 0.6414825316572957
444: 0.6414443462920847
445: 0.6414062973771262
446: 0.6413683842369282
447: 0.6413306061997112
448: 0.6412929625973868
449: 0.6412554527655365
450: 0.64121807604339
451: 0.6411808317738034
452: 0.6411437193032385
453: 0.6411067379817414
454: 0.6410698871629216
455: 0.6410331662039306
456: 0.6409965744654424
457: 0.6409601113116318
458: 0.6409237761101544
459: 0.6408875682321259
460: 0.6408514870521022
461: 0.6408155319480594
462: 0.6407797023013737
463: 0.6407439974968013
464: 0.6407084169224587
465: 0.6406729599698036
466: 0.6406376260336145
467: 0.6406024145119725
468: 0.6405673248062413
469: 0.6405323563210474
470: 0.6404975084642636
471: 0.6404627806469863
472: 0.6404281722835204
473: 0.6403936827913583
474: 0.6403593115911622
475: 0.6403250581067457
476: 0.6402909217650548
477: 0.6402569019961508
478: 0.6402229982331913
479: 0.6401892099124129
480: 0.640155536473112
481: 0.640121977357629
482: 0.6400885320113288
483: 0.6400551998825845
484: 0.6400219804227596
485: 0.6399888730861899
486: 0.6399558773301675
487: 0.6399229926149228
488: 0.6398902184036077
489: 0.6398575541622795
490: 0.6398249993598821
491: 0.6397925534682314
492: 0.6397602159619974
493: 0.6397279863186883
494: 0.6396958640186339
495: 0.639663848544969
496: 0.6396319393836177
497: 0.639600136023277
498: 0.639568437955401
499: 0.6395368446741845
500: 0.6395053556765478
501: 0.6394739704621203
502: 0.639442688533226
503: 0.6394115093948665
504: 0.6393804325547066
505: 0.6393494575230586
506: 0.6393185838128672
507: 0.6392878109396944
508: 0.6392571384217042
509: 0.6392265657796472
510: 0.6391960925368471
511: 0.6391657182191846
512: 0.6391354423550831
513: 0.6391052644754944
514: 0.639075184113884
515: 0.639045200806216
516: 0.6390153140909403
517: 0.6389855235089764
518: 0.6389558286037011
519: 0.638926228920933
520: 0.6388967240089193
521: 0.6388673134183214
522: 0.6388379967022015
523: 0.6388087734160085
524: 0.638779643117565
525: 0.6387506053670523
526: 0.6387216597269986
527: 0.6386928057622644
528: 0.6386640430400297
529: 0.6386353711297807
530: 0.6386067896032963
531: 0.6385782980346356
532: 0.6385498960001241
533: 0.6385215830783415
534: 0.6384933588501085
535: 0.638465222898474
536: 0.6384371748087024
537: 0.638409214168261
538: 0.638381340566808
539: 0.6383535535961784
540: 0.6383258528503739
541: 0.6382982379255489
542: 0.6382707084199986
543: 0.6382432639341469
544: 0.6382159040705346
545: 0.6381886284338074
546: 0.6381614366307029
547: 0.6381343282700399
548: 0.6381073029627067
549: 0.6380803603216478
550: 0.6380534999618542
551: 0.6380267215003501
552: 0.6380000245561829
553: 0.6379734087504101
554: 0.6379468737060895
555: 0.637920419048267
556: 0.6378940444039652
557: 0.6378677494021726
558: 0.6378415336738329
559: 0.6378153968518323
560: 0.6377893385709913
561: 0.6377633584680504
562: 0.637737456181662
563: 0.6377116313523784
564: 0.637685883622641
565: 0.6376602126367702
566: 0.6376346180409542
567: 0.637609099483239
568: 0.6375836566135175
569: 0.6375582890835194
570: 0.6375329965468004
571: 0.6375077786587326
572: 0.6374826350764939
573: 0.6374575654590575
574: 0.6374325694671825
575: 0.6374076467634036
576: 0.6373827970120203
577: 0.6373580198790886
578: 0.6373333150324096
579: 0.6373086821415208
580: 0.6372841208776854
581: 0.6372596309138835
582: 0.6372352119248018
583: 0.6372108635868245
584: 0.6371865855780234
585: 0.637162377578149
586: 0.6371382392686199
587: 0.6371141703325153
588: 0.6370901704545637
589: 0.6370662393211357
590: 0.6370423766202328
591: 0.6370185820414797
592: 0.6369948552761149
593: 0.636971196016981
594: 0.6369476039585169
595: 0.6369240787967481
596: 0.6369006202292776
597: 0.636877227955278
598: 0.6368539016754822
599: 0.6368306410921745
600: 0.6368074459091824
601: 0.6367843158318676
602: 0.6367612505671179
603: 0.6367382498233384
604: 0.6367153133104433
605: 0.6366924407398465
606: 0.6366696318244552
607: 0.6366468862786597
608: 0.6366242038183261
609: 0.6366015841607884
610: 0.6365790270248386
611: 0.6365565321307215
612: 0.6365340992001237
613: 0.6365117279561678
614: 0.6364894181234028
615: 0.6364671694277975
616: 0.6364449815967316
617: 0.6364228543589887
618: 0.636400787444748
619: 0.636378780585577
620: 0.6363568335144228
621: 0.6363349459656059
622: 0.6363131176748119
623: 0.6362913483790836
624: 0.6362696378168141
625: 0.636247985727739
626: 0.6362263918529293
627: 0.6362048559347836
628: 0.6361833777170208
629: 0.6361619569446734
630: 0.6361405933640796
631: 0.6361192867228763
632: 0.6360980367699924
633: 0.6360768432556408
634: 0.6360557059313121
635: 0.6360346245497668
636: 0.6360135988650295
637: 0.6359926286323807
638: 0.6359717136083503
639: 0.6359508535507111
640: 0.6359300482184721
641: 0.6359092973718704
642: 0.6358886007723658
643: 0.6358679581826339
644: 0.635847369366559
645: 0.6358268340892275
646: 0.6358063521169215
647: 0.6357859232171121
648: 0.6357655471584536
649: 0.6357452237107754
650: 0.6357249526450773
651: 0.635704733733522
652: 0.6356845667494293
653: 0.6356644514672691
654: 0.6356443876626563
655: 0.6356243751123432
656: 0.6356044135942138
657: 0.6355845028872783
658: 0.6355646427716659
659: 0.635544833028619
660: 0.6355250734404876
661: 0.6355053637907228
662: 0.6354857038638707
663: 0.6354660934455669
664: 0.6354465323225303
665: 0.635427020282557
666: 0.6354075571145146
667: 0.6353881426083366
668: 0.6353687765550162
669: 0.6353494587466008
670: 0.6353301889761862
671: 0.6353109670379108
672: 0.63529179272695
673: 0.6352726658395108
674: 0.6352535861728256
675: 0.6352345535251473
676: 0.6352155676957435
677: 0.6351966284848908
678: 0.6351777356938695
679: 0.6351588891249581
680: 0.635140088581428
681: 0.6351213338675381
682: 0.6351026247885292
683: 0.6350839611506194
684: 0.6350653427609975
685: 0.6350467694278192
686: 0.6350282409602009
687: 0.635009757168215
688: 0.6349913178628843
689: 0.6349729228561772
690: 0.6349545719610028
691: 0.634936264991205
692: 0.6349180017615584
693: 0.6348997820877625
694: 0.6348816057864375
695: 0.6348634726751184
696: 0.6348453825722511
697: 0.6348273352971863
698: 0.634809330670176
699: 0.6347913685123674
700: 0.6347734486457987
701: 0.6347555708933945
702: 0.6347377350789604
703: 0.6347199410271785
704: 0.6347021885636036
705: 0.6346844775146566
706: 0.6346668077076216
707: 0.6346491789706409
708: 0.6346315911327093
709: 0.6346140440236707
710: 0.6345965374742133
711: 0.6345790713158649
712: 0.6345616453809882
713: 0.634544259502777
714: 0.6345269135152508
715: 0.6345096072532515
716: 0.6344923405524378
717: 0.6344751132492815
718: 0.6344579251810636
719: 0.6344407761858689
720: 0.6344236661025824
721: 0.6344065947708849
722: 0.6343895620312485
723: 0.6343725677249332
724: 0.6343556116939812
725: 0.6343386937812141
726: 0.6343218138302286
727: 0.634304971685391
728: 0.634288167191835
729: 0.6342714001954565
730: 0.6342546705429094
731: 0.6342379780816023
732: 0.6342213226596939
733: 0.6342047041260892
734: 0.6341881223304358
735: 0.6341715771231193
736: 0.6341550683552599
737: 0.6341385958787084
738: 0.6341221595460422
739: 0.6341057592105617
740: 0.6340893947262859
741: 0.6340730659479491
742: 0.634056772730997
743: 0.6340405149315832
744: 0.6340242924065644
745: 0.6340081050134981
746: 0.6339919526106377
747: 0.6339758350569293
748: 0.6339597522120083
749: 0.6339437039361957
750: 0.6339276900904935
751: 0.6339117105365825
752: 0.6338957651368176
753: 0.6338798537542251
754: 0.6338639762524982
755: 0.6338481324959947
756: 0.6338323223497323
757: 0.6338165456793858
758: 0.6338008023512833
759: 0.6337850922324033
760: 0.6337694151903702
761: 0.6337537710934522
762: 0.6337381598105568
763: 0.6337225812112284
764: 0.6337070351656442
765: 0.6336915215446108
766: 0.6336760402195615
767: 0.6336605910625527
768: 0.6336451739462609
769: 0.6336297887439784
770: 0.6336144353296115
771: 0.6335991135776762
772: 0.6335838233632961
773: 0.6335685645621973
774: 0.6335533370507075
775: 0.6335381407057512
776: 0.6335229754048475
777: 0.6335078410261062
778: 0.6334927374482257
779: 0.6334776645504885
780: 0.63346262221276
781: 0.6334476103154838
782: 0.6334326287396792
783: 0.6334176773669388
784: 0.6334027560794246
785: 0.6333878647598654
786: 0.6333730032915541
787: 0.6333581715583445
788: 0.6333433694446478
789: 0.6333285968354307
790: 0.6333138536162124
791: 0.6332991396730605
792: 0.6332844548925898
793: 0.6332697991619578
794: 0.633255172368864
795: 0.6332405744015442
796: 0.6332260051487708
797: 0.6332114644998472
798: 0.633196952344607
799: 0.6331824685734109

In [95]:
for j in range(len(best_epochs_list)):
    print(f"{j}: {best_epochs_list[j]}", end='\n')

In [96]:
theta

array([-0.24007112, -0.01535225, -0.02042874, -0.00850244, -0.10020641,
        0.01383243,  0.00412154,  0.00176149, -0.00310306,  0.01833061,
        0.01326636, -0.01421149, -0.01135224, -0.02777846, -0.02074188,
       -0.00917358,  0.0174313 , -0.00543941, -0.01252769, -0.06180679,
        0.01662555, -0.0187003 , -0.00613393, -0.00466333, -0.01164758,
        0.00279842, -0.00797512,  0.00346959,  0.00086546, -0.00201151,
       -0.00347156,  0.00446255])

## Model performance on training set

We can test the performance of the model through its confusion matrix, F1 score, and accuracy score.

First, we predict on the training set.

In [97]:
## On training data
pred = fwd(X_train, theta, dbg=False)

## Decision (Threshold = 0.5)
y_train_hat = (pred >= 0.5).astype(int)

In [98]:
y_train_hat.shape

(4096, 1)

In [99]:
y_train.shape

(4096, 1)

In [100]:
print(confusion_matrix(y_train, y_train_hat))

[[2006 1357]
 [  69  664]]

In [101]:
print(f1_score(y_train, y_train_hat))

0.4822076978939724

In [102]:
print(precision_score(y_train, y_train_hat))

0.3285502226620485

In [103]:
print(recall_score(y_train, y_train_hat))

0.9058663028649386

In [104]:
print(roc_auc_score(y_train, pred))

0.8402854431845795

In [105]:
print(accuracy_score(y_train, y_train_hat))

0.65185546875

## Model performance on test set

Now, we predict on the test set.

In [106]:
## On test data

pred = fwd(X_test, theta, dbg=False)

## Decision (Threshold = 0.5)
y_test_hat = (pred >= 0.5).astype(int)

In [107]:
y_test_hat.shape

(4096, 1)

In [108]:
y_test.shape

(4096, 1)

In [109]:
print(confusion_matrix(y_test, y_test_hat))

[[1954 1359]
 [  59  724]]

In [110]:
print(f1_score(y_test, y_test_hat))

0.5052337752965806

In [111]:
print(roc_auc_score(y_test, pred))

0.8458358438582636

In [112]:
print(accuracy_score(y_test, y_test_hat))

0.65380859375

## Write to a CSV file

In [113]:
# Convert the NumPy array to a DataFrame
X_train_csv = pd.DataFrame(X_train)
y_train_csv = pd.DataFrame(y_train)
X_test_csv = pd.DataFrame(X_test)
y_test_csv = pd.DataFrame(y_test)

# Save the DataFrame to a CSV file
X_train_csv.to_csv("../cscore_data/X_train_4096.csv", index=False)
y_train_csv.to_csv("../cscore_data/y_train_4096.csv", index=False)
X_test_csv.to_csv("../cscore_data/X_test_4096.csv", index=False)
y_test_csv.to_csv("../cscore_data/y_test_4096.csv", index=False)

In [ ]:
del X

In [117]:
X_train_csv[X_train_csv.columns[:]].head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,2.198939,-1.386113,-1.754133,0.066202,2.772689,0.524358,-0.752849,-0.078448,-0.641564,5.230106,...,-0.212204,0.613856,-0.068885,0.024195,-0.083641,-0.189059,-0.526651,-0.084249,-0.372196,-0.218408
1,-3.582945,-3.104108,1.625395,0.851905,0.408469,-0.366360,-0.829054,0.219654,0.002127,-1.248474,...,-0.019534,-0.078361,-0.034219,0.874848,-0.126403,-0.466379,0.080115,-0.369146,0.422136,-0.028935
2,-0.931388,-0.637706,-0.867205,0.723298,0.263651,0.146046,-0.278242,-0.426526,0.710626,0.850852,...,-0.524058,0.492138,0.114483,-0.232441,0.448486,0.740165,-0.191677,-0.103786,0.087587,-0.055254
3,0.480324,1.332575,-2.139174,0.902649,-2.605806,0.655541,0.107937,-0.094884,0.528272,1.650635,...,-0.309875,0.050581,0.813386,-0.197001,-0.360753,-0.360105,0.286082,0.646569,-0.541250,0.096434
4,-1.529067,-0.186602,0.864413,-0.623240,1.343525,-1.313599,1.146676,0.715594,-1.318801,0.361061,...,-0.588974,0.030033,1.137614,0.439302,-0.342790,-0.216500,-0.514616,0.007480,-0.525417,-0.090916