# Credit score classification using logistic regression

We are using a credit-related dataset found in Kaggle (source: https://www.kaggle.com/datasets/parisrohan/credit-score-classification/data). The dataset consists of 27 input features and one target label, that is the credit score.

Goal : To predict the credit score of a new, unseen data using logistic regression model.

In [128]:
import numpy as np
np.random.seed(42)
import pandas as pd
import tqdm

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import roc_auc_score, precision_score, recall_score
from sklearn.metrics import confusion_matrix, accuracy_score, f1_score
from sklearn.impute import KNNImputer
from numba import njit

np.seterr(all='raise')

{'divide': 'raise', 'over': 'raise', 'under': 'raise', 'invalid': 'raise'}

## Load and clean the data

In [2]:
def load_data():
    filename = "../train_data/cs_train.csv"
    df = pd.read_csv(filename)

    ## Separate target from features
    X = df.drop(columns=['Credit_Score'])
    y = df['Credit_Score']

    return X, y

In [3]:
def slice_split(X, y, num_samples, compare_to_r_ref):
    X = X.to_numpy()[:num_samples]
    y = y.to_numpy()[:num_samples]
    
    ## Split into training and test set
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1332)
    
    print(f"Train X shape is: {X_train.shape}")
    print(f"Train Y shape is: {y_train.shape}")
    print(f"Test X shape is: {X_test.shape}")
    print(f"Test Y shape is: {y_test.shape}")
    return X_train, X_test, y_train, y_test

In [4]:
X, y = load_data()
X.head()

C:\Users\USER\AppData\Local\Temp\ipykernel_15832\566418612.py:3: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,4.0,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,4.0,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,4.0,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177

We'll then perform data cleaning to filter out irrelevant features for our prediction. A little bit of feature engineering after might be necessary.

First of all, we need to look more into our 'Monthly_Balance' column, which holds more than one data type, hence detected as DTypeWarning.

In [5]:
print(X['Monthly_Balance'].unique())

['312.49408867943663' '284.62916249607184' '331.2098628537912' ...
 516.8090832742814 319.1649785257098 393.6736955618808]

In [6]:
X['Monthly_Balance'] = pd.to_numeric(X['Monthly_Balance'], errors='coerce')
X.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.494089
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,4.0,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.629162
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,4.0,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.209863
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,4.0,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.451310
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.489231

In [7]:
X.shape

(100000, 27)

'ID', 'Customer_ID', 'Name', 'SSN', 'Occupation', and 'Type_of_Loan' are, for now, **irrelevant** to the prediction.

In [8]:
## Drop irrelevant features
X = X.drop(columns=['ID', 'Customer_ID', 'Name', 'SSN', 'Occupation', 'Type_of_Loan'])
X.shape

(100000, 21)

Furthermore, there are features that hold string values, which obviously cannot be processed by the logistic regression model. We need to convert them into one-hot encoding vectors.

In [9]:
## One-hot encoding
X = pd.get_dummies(X, columns=['Month', 'Credit_Mix', 'Payment_of_Min_Amount', 'Payment_Behaviour'])
y = pd.get_dummies(y)
print(f"New shape of X: {X.shape}")
print(f"New shape of y: {y.shape}")

New shape of X: (100000, 39)
New shape of y: (100000, 3)

In [10]:
## Map 'Credit_History_Age' into decimals and NaN values
import re

# Replace 'NA' with NaN
X['Credit_History_Age'].replace('NA', pd.NA, inplace=True)

# Function to extract years and months
def extract_years_months(value):
    if pd.isna(value):
        return value
    match = re.match(r'(\d+)\s+Years?\s+and\s+(\d+)\s+Months?', value)
    if match:
        years, months = map(int, match.groups())
        return years + months / 12
    return None

# Apply the function to the column
X['Credit_History_Age'] = X['Credit_History_Age'].apply(extract_years_months)

C:\Users\USER\AppData\Local\Temp\ipykernel_15832\2337723389.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X['Credit_History_Age'].replace('NA', pd.NA, inplace=True)

In [11]:
X['Credit_History_Age'].head()

0    22.083333
1          NaN
2    22.250000
3    22.333333
4    22.416667
Name: Credit_History_Age, dtype: float64

Now, we need to address NaN values as a part of data cleaning process.

In [12]:
## Make sure all values are numerical
X_num = X.apply(pd.to_numeric, errors='coerce')

In [13]:
X_num.isna().sum()

Age                                                    4939
Annual_Income                                          6980
Monthly_Inhand_Salary                                 15002
Num_Bank_Accounts                                         0
Num_Credit_Card                                           0
Interest_Rate                                             0
Num_of_Loan                                            4785
Delay_from_due_date                                       0
Num_of_Delayed_Payment                                 9746
Changed_Credit_Limit                                   2091
Num_Credit_Inquiries                                   1965
Outstanding_Debt                                       1009
Credit_Utilization_Ratio                                  0
Credit_History_Age                                     9030
Total_EMI_per_month                                       0
Amount_invested_monthly                                8784
Monthly_Balance                                        1209
Month_April                                               0
Month_August                                              0
Month_February                                            0
Month_January                                             0
Month_July                                                0
Month_June                                                0
Month_March                                               0
Month_May                                                 0
Credit_Mix_Bad                                            0
Credit_Mix_Good                                           0
Credit_Mix_Standard                                       0
Credit_Mix__                                              0
Payment_of_Min_Amount_NM                                  0
Payment_of_Min_Amount_No                                  0
Payment_of_Min_Amount_Yes                                 0
Payment_Behaviour_!@9#%8                                  0
Payment_Behaviour_High_spent_Large_value_payments         0
Payment_Behaviour_High_spent_Medium_value_payments        0
Payment_Behaviour_High_spent_Small_value_payments         0
Payment_Behaviour_Low_spent_Large_value_payments          0
Payment_Behaviour_Low_spent_Medium_value_payments         0
Payment_Behaviour_Low_spent_Small_value_payments          0
dtype: int64

In [14]:
## Fill the missing values with mean in each column
# X_num = X_num.fillna(X_num.mean())

# Initialize the KNN imputer
imputer = KNNImputer(missing_values=np.nan, n_neighbors=5)

# Fit and transform the data
X_imputed = imputer.fit_transform(X_num)

# Convert back to DataFrame
X_num = pd.DataFrame(X_imputed, columns=X_num.columns)
del X_imputed

In [15]:
X_num.isna().sum()

Age                                                   0
Annual_Income                                         0
Monthly_Inhand_Salary                                 0
Num_Bank_Accounts                                     0
Num_Credit_Card                                       0
Interest_Rate                                         0
Num_of_Loan                                           0
Delay_from_due_date                                   0
Num_of_Delayed_Payment                                0
Changed_Credit_Limit                                  0
Num_Credit_Inquiries                                  0
Outstanding_Debt                                      0
Credit_Utilization_Ratio                              0
Credit_History_Age                                    0
Total_EMI_per_month                                   0
Amount_invested_monthly                               0
Monthly_Balance                                       0
Month_April                                           0
Month_August                                          0
Month_February                                        0
Month_January                                         0
Month_July                                            0
Month_June                                            0
Month_March                                           0
Month_May                                             0
Credit_Mix_Bad                                        0
Credit_Mix_Good                                       0
Credit_Mix_Standard                                   0
Credit_Mix__                                          0
Payment_of_Min_Amount_NM                              0
Payment_of_Min_Amount_No                              0
Payment_of_Min_Amount_Yes                             0
Payment_Behaviour_!@9#%8                              0
Payment_Behaviour_High_spent_Large_value_payments     0
Payment_Behaviour_High_spent_Medium_value_payments    0
Payment_Behaviour_High_spent_Small_value_payments     0
Payment_Behaviour_Low_spent_Large_value_payments      0
Payment_Behaviour_Low_spent_Medium_value_payments     0
Payment_Behaviour_Low_spent_Small_value_payments      0
dtype: int64

## Feature engineering

Feature engineering lets us create new features by combining existing ones. These new features help the model to see the relationship between features and can improve the model's performance.

In [16]:
## Interaction features
X_num['Debt_to_Income_Ratio'] = X_num['Outstanding_Debt'] / X_num['Annual_Income']
X_num['Loan_to_Income_Ratio'] = X_num['Num_of_Loan'] / X_num['Annual_Income']
X_num['Investment_Ratio'] = X_num['Amount_invested_monthly'] / X_num['Monthly_Inhand_Salary']
X_num['Credit_Card_Utilization'] = X_num['Credit_Utilization_Ratio'] * X_num['Num_Credit_Card']

## Aggregated features
X_num['Total_Debt'] = X_num['Outstanding_Debt'] + X_num['Total_EMI_per_month']

## One-hot encoding for seasons
## --> Winter
X_num['Winter'] = X_num['Month_January'] + X_num['Month_February']
## --> Spring
X_num['Spring'] = X_num['Month_March'] + X_num['Month_April'] + X_num['Month_May']
## --> Summer
X_num['Summer'] = X_num['Month_June'] + X_num['Month_July'] + X_num['Month_August']

We also need to perform normalization to some features so that all features are in a virtually comparable range of values (feature scaling). We will use z-score normalization that subtracts the mean from each feature and divide the resulting value by its standard deviation.

First, we will reduce the impact of **outliers** (i.e., skewed, and possibly incorrect,
values in columns that might distort z-score normalization results) by applying natural log transformation.

In [17]:
columns_log = [
    'Age', 'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
    'Num_Credit_Card',
    'Interest_Rate', 'Num_of_Loan', 'Delay_from_due_date', 'Num_of_Delayed_Payment',
    'Changed_Credit_Limit', 'Num_Credit_Inquiries', 'Outstanding_Debt',
    'Credit_Utilization_Ratio', 'Credit_History_Age', 'Total_EMI_per_month',
    'Amount_invested_monthly', 'Monthly_Balance',
    'Debt_to_Income_Ratio', 'Loan_to_Income_Ratio', 'Investment_Ratio', 
    'Credit_Card_Utilization', 'Total_Debt'
]

## Prevent FloatingPointError
X_num[columns_log] = X_num[columns_log].map(lambda x: x if x >= 0 else 0.01)

## Apply log transformation to necessary columns
X_num[columns_log] = np.log1p(X_num[columns_log])

We can then proceed for normalization.

In [18]:
## We want to normalize all columns except one-hot encoding vectors
columns_norm = [
    'Age', 'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts', 
    'Num_Credit_Card',
    'Interest_Rate', 'Num_of_Loan', 'Delay_from_due_date', 'Num_of_Delayed_Payment',
    'Changed_Credit_Limit', 'Num_Credit_Inquiries', 'Outstanding_Debt',
    'Credit_Utilization_Ratio', 'Credit_History_Age', 'Total_EMI_per_month',
    'Amount_invested_monthly', 'Monthly_Balance',
    'Debt_to_Income_Ratio', 'Loan_to_Income_Ratio', 'Investment_Ratio', 
    'Credit_Card_Utilization', 'Total_Debt'
]

## Initialize the scaler
scaler = StandardScaler()

## Fit and transform the selected columns
X_num[columns_norm] = scaler.fit_transform(X_num[columns_norm])

In [19]:
X_num['Debt_to_Income_Ratio'].head()

0   -0.183463
1   -0.183463
2   -0.183463
3   -0.183463
4   -0.183463
Name: Debt_to_Income_Ratio, dtype: float64

In [20]:
X_num['Num_Credit_Card'].head()

0   -0.409512
1   -0.409512
2   -0.409512
3   -0.409512
4   -0.409512
Name: Num_Credit_Card, dtype: float64

## Risk minimization

We need to come to an understanding that logistic regression model cannot be trained on the target label of three possible binary values.

In [21]:
y.head()

   Good   Poor  Standard
0  True  False     False
1  True  False     False
2  True  False     False
3  True  False     False
4  True  False     False

Let's assume that the global finance company we're working with is not looking for more market expansion and is trying to minimize loan risk. Therefore, we want to label parties with **Good** credit scores as being eligible for loans, while the rest are not.

In [22]:
## Create a new binary label
y['Target'] = y['Good']

## Drop the original one-hot encoded columns
y = y.drop(columns=['Good', 'Standard', 'Poor'])

In [23]:
y.shape

(100000, 1)

## Preparing data for training

In [52]:
## NUM_SAMPLES is the combination of all sets (NUM_TRAINING + NUM_TEST)
NUM_SAMPLES = -1
COMPARE_TO_R_REF = False
lr = 0.1
mu = 0.1

## Slice data into NumPy arrays and split into training and test sets
X_train, X_test, y_train, y_test = slice_split(
    X_num, y,
    num_samples=NUM_SAMPLES,
    compare_to_r_ref=COMPARE_TO_R_REF
)

## n = num_of_features
n = X_train.shape[1]

# Same shape as Marcelo's reference code
betas = np.zeros((n, ))
# betas = np.random.randn(n)

Train X shape is: (79999, 47)
Train Y shape is: (79999, 1)
Test X shape is: (20000, 47)
Test Y shape is: (20000, 1)

In [53]:
n

47

## Nesterov model training

In [54]:
@njit
def sigmoid(z):
    return 1 / (1 + np.exp(-z))

@njit
def fwd(train_x, betas, dbg=False):
    preds = train_x @ betas   # A vector of linear_predictions/logits z = train_x @ weights
    if dbg:
        print(f"Logits: {preds}")
    return np.expand_dims(sigmoid(preds), -1)   # Shape: (m, 1)

@njit
def calculate_gradient(train_x, train_y, betas, fwd, dbg):
    preds = fwd(train_x, betas, dbg)   # A vector of logistic predictions y_hat = sigmoid(z)
    gradient = -train_x.T @ (train_y - preds) / len(train_y)
    return gradient   # Shape: (10, 1) == Rows correspond to num_features
    ## This function is used to update the values of betas: w_new = w_old + lr * gradient

def cost(x, y, theta):
    m = x.shape[0]
    h = sigmoid(np.matmul(x, theta))   # h: hypothesis, basically preds/y_hat
    t1 = np.matmul(-y.T, np.log(np.clip(h, 0.000000000000001, np.max(h))))
    t2_a = (1 - y.T)
    t2_b = np.log(np.clip(1 - h, 0.000000000000001, np.max(1 - h)))  # Used to get numerical issues
    ## np.clip() function prevents computing the log of 0, by taking the minimum of 1e-15.
    t2 = np.matmul(t2_a, t2_b)

    return ((t1 - t2) / m)[0]   # Shape: (1,) == scalar value

def nesterov(betas, epochs, patience, lr, mu, train_x, train_y):
    import copy

    phi = copy.deepcopy(betas)
    theta = copy.deepcopy(betas)

    check_early = 0
    best_loss = float('inf')
    best_epochs_list = []

    nesterov_loss = [0 for _ in range(epochs)]
    for i in tqdm.trange(epochs):
    # for i in range(epochs):
        gradient = calculate_gradient(train_x, train_y, theta, fwd, dbg=False)

        ## Assign updated weights into phi_prime
        phi_prime = theta - lr * np.squeeze(gradient)   # np.squeeze() removes single dimensions --> shape (10,)
        
        ## Nesterov acceleration process
        if i == 0:
            theta = phi_prime
        else:
            ## If current updated weight (phi_prime) < previous weight (phi), 
            ## The updated weight theta will be even smaller.
            theta = phi_prime + mu * (phi_prime - phi)
        phi = phi_prime   # phi is then the weight of the previous epoch/update
        loss = cost(train_x, train_y, theta)

        ## Early stopping
        if patience > 0:
            if loss < best_loss:
                best_loss = loss
                best_epoch = i
                best_theta = theta
                best_epochs_list.append(best_epoch)
                check_early = 0
            else:
                check_early += 1
                if check_early >= patience:
                    print(f"Early stopping at {patience} epochs after {best_epoch} with best loss {best_loss}")
                    return nesterov_loss[:best_epoch + 1], best_theta, phi, best_epochs_list
        else:
            best_epoch = epochs - 1
            best_theta = theta

        ## Update list
        nesterov_loss[i] = loss

        # print(f"New loss: {cost(train_x, train_y, v)[0]}")
    return nesterov_loss[:best_epoch + 1], best_theta, phi, best_epochs_list

In [55]:
# Ensure inputs are of the correct type
betas = np.array(betas, dtype=np.float64)
X_train = np.array(X_train, dtype=np.float64)
y_train = np.array(y_train, dtype=np.float64)
X_test = np.array(X_test, dtype=np.float64)
y_test = np.array(y_test, dtype=np.float64)
lr = float(lr)
mu = float(mu)

In [56]:
losses, theta, phi, best_epochs_list = nesterov(betas, 800, -1, lr, mu, X_train, y_train)

100%|██████████| 800/800 [00:23<00:00, 34.26it/s]

In [57]:
for j in range(len(losses)):
    print(f"{j}: {losses[j]}", end='\n')
# Ideal Gradient (800 epochs) #
## seed(42), lr = 0.001, mu = 0.3 --> loss = 0.5433165928958901
## seed(42), lr = 0.001, mu = 0.5 --> loss = 0.5139704562064134

# Oscillating Gradient (800 epochs) #
## seed(42), lr = 0.003, mu = 0.5 --> loss = 0.49509424569059735
## seed(42), lr = 0.003, mu = 0.6 --> loss = 0.4102733269497619

# Early stopping (patience = 50) #
## seed(42), lr = 0.003, mu = 0.5 --> 964: 0.410228534339208
## seed(42), lr = 0.003, mu = 0.6 --> 422: 0.46334269494781627

# Ideal Gradient (800 epochs) with Feature Engineering #
## seed(42), lr = 0.001, mu = 0.3 --> loss = 0.523951850559082
## seed(42), lr = 0.001, mu = 0.5 --> loss = 0.4922252143522289

# Early stopping (patience = 50) with Feature Engineering #
## seed(42), lr = 0.003, mu = 0.5 --> 739: 0.41164361016071044
## seed(42), lr = 0.003, mu = 0.6 --> 314: 0.4688941580652026

0: 0.6662307574983946
1: 0.6411336690110037
2: 0.6195886841117227
3: 0.6009712912972424
4: 0.5846556796864298
5: 0.5701713056750173
6: 0.5571718622388139
7: 0.5453999878856545
8: 0.5346613462522284
9: 0.5248065220239051
10: 0.5157184587696794
11: 0.5073037144884686
12: 0.49948633203039045
13: 0.4922035033511145
14: 0.48540247055345587
15: 0.47903828557576167
16: 0.47307217080755787
17: 0.46747030394998756
18: 0.462202905156182
19: 0.4572435416311396
20: 0.45256859024757795
21: 0.4481568161914426
22: 0.4439890377449296
23: 0.44004785575290045
24: 0.43631743224684905
25: 0.4327833068943242
26: 0.42943224292866083
27: 0.42625209635579764
28: 0.4232317037815188
29: 0.4203607853270021
30: 0.4176298599242342
31: 0.41503017089076516
32: 0.41255362013559377
33: 0.41019270968738447
34: 0.40794048949325534
35: 0.40579051063288984
36: 0.4037367832445094
37: 0.4017737385777184
38: 0.3998961946817301
39: 0.39809932531207565
40: 0.39637863169909443
41: 0.3947299168706016
42: 0.3931492622616123
43: 0.3916330063777206
44: 0.3901777253070846
45: 0.38878021490002396
46: 0.38743747445580873
47: 0.3861466917739456
48: 0.38490522944263433
49: 0.38371061225048003
50: 0.3825605156192937
51: 0.3814527549661705
52: 0.38038527591218146
53: 0.3793561452631348
54: 0.3783635426950808
55: 0.3774057530836825
56: 0.3764811594223286
57: 0.3755882362790271
58: 0.3747255437467489
59: 0.37389172184605163
60: 0.37308548534256003
61: 0.3723056189452556
62: 0.3715509728545736
63: 0.37082045863205826
64: 0.37011304536581213
65: 0.36942775610822953
66: 0.3687636645645402
67: 0.3681198920125391
68: 0.3674956044355543
69: 0.36689000985222786
70: 0.36630235582806614
71: 0.36573192715497455
72: 0.36517804368613715
73: 0.364640058314638
74: 0.36411735508517706
75: 0.36360934742909307
76: 0.36311547651369674
77: 0.36263520969763935
78: 0.36216803908469675
79: 0.36171348016895344
80: 0.3612710705649191
81: 0.3608403688166131
82: 0.3604209532801155
83: 0.3600124210745024
84: 0.35961438709647336
85: 0.3592264830943307
86: 0.35884835679729843
87: 0.3584796710964684
88: 0.3581201032739328
89: 0.3577693442769195
90: 0.35742709803397527
91: 0.3570930808104598
92: 0.35676702060080684
93: 0.3564486565551936
94: 0.3561377384384257
95: 0.3558340261189993
96: 0.35553728908644616
97: 0.3552473059951969
98: 0.3549638642333222
99: 0.35468675951462203
100: 0.35441579549263846
101: 0.3541507833952633
102: 0.35389154167870135
103: 0.35363789569963383
104: 0.35338967740450017
105: 0.3531467250348914
106: 0.35290888284811145
107: 0.3526760008520247
108: 0.35244793455336626
109: 0.3522245447187418
110: 0.35200569714759583
111: 0.3517912624564702
112: 0.3515811158739198
113: 0.3513751370454907
114: 0.35117320984820083
115: 0.35097522221400324
116: 0.3507810659617382
117: 0.3505906366371128
118: 0.3504038333602765
119: 0.3502205586805825
120: 0.3500407184381537
121: 0.3498642216318925
122: 0.3496909802935944
123: 0.3495209093678474
124: 0.34935392659741593
125: 0.34918995241382544
126: 0.34902890983288215
127: 0.34887072435487504
128: 0.34871532386922294
129: 0.34856263856334285
130: 0.3484126008355289
131: 0.34826514521164004
132: 0.34812020826541096
133: 0.34797772854220527
134: 0.3478376464860453
135: 0.3476999043697564
136: 0.3475644462280778
137: 0.347431217793596
138: 0.34730016643536626
139: 0.34717124110009484
140: 0.3470443922557609
141: 0.3469195718375632
142: 0.3467967331960844
143: 0.3466758310475669
144: 0.34655682142620786
145: 0.34643966163837536
146: 0.34632431021866233
147: 0.34621072688769094
148: 0.34609887251159277
149: 0.3459887090630858
150: 0.34588019958407856
151: 0.34577330814973417
152: 0.3456679998339281
153: 0.34556424067604063
154: 0.3454619976490233
155: 0.34536123862868584
156: 0.34526193236415026
157: 0.3451640484494211
158: 0.34506755729602556
159: 0.34497243010667683
160: 0.3448786388499171
161: 0.3447861562357012
162: 0.3446949556918775
163: 0.344605011341533
164: 0.3445162979811629
165: 0.3444287910596345
166: 0.34434246665790835
167: 0.34425730146949
168: 0.34417327278157944
169: 0.3440903584568923
170: 0.3440085369161234
171: 0.3439277871210296
172: 0.3438480885581052
173: 0.34376942122282667
174: 0.3436917656044454
175: 0.3436151026713054
176: 0.3435394138566669
177: 0.34346468104501465
178: 0.343390886558833
179: 0.34331801314583027
180: 0.34324604396659364
181: 0.3431749625826594
182: 0.3431047529449824
183: 0.3430353993827892
184: 0.34296688659280145
185: 0.3428991996288136
186: 0.34283232389161467
187: 0.3427662451192384
188: 0.3427009493775315
189: 0.34263642305102715
190: 0.34257265283411387
191: 0.34250962572248683
192: 0.34244732900487407
193: 0.3423857502550253
194: 0.34232487732395495
195: 0.3422646983324301
196: 0.3422052016636951
197: 0.34214637595642305
198: 0.34208821009788754
199: 0.3420306932173463
200: 0.3419738146796294
201: 0.341917564078924
202: 0.34186193123275077
203: 0.3418069061761234
204: 0.3417524791558854
205: 0.34169864062521893
206: 0.3416453812383188
207: 0.34159269184522606
208: 0.3415405634868166
209: 0.3414889873899383
210: 0.34143795496269297
211: 0.3413874577898569
212: 0.34133748762843685
213: 0.34128803640335553
214: 0.34123909620326337
215: 0.3411906592764715
216: 0.34114271802700324
217: 0.3410952650107585
218: 0.3410482929317888
219: 0.3410017946386785
220: 0.34095576312103
221: 0.34091019150604673
222: 0.3408650730552153
223: 0.3408204011610785
224: 0.34077616934410077
225: 0.34073237124962014
226: 0.34068900064488516
227: 0.3406460514161744
228: 0.3406035175659945
229: 0.34056139321035694
230: 0.34051967257612753
231: 0.34047834999844967
232: 0.3404374199182373
233: 0.34039687687973497
234: 0.3403567155281452
235: 0.34031693060731866
236: 0.3402775169575061
237: 0.3402384695131712
238: 0.34019978330086087
239: 0.34016145343713167
240: 0.3401234751265321
241: 0.3400858436596367
242: 0.34004855441113263
243: 0.34001160283795556
244: 0.3399749844774741
245: 0.33993869494572215
246: 0.3399027299356753
247: 0.33986708521557313
248: 0.33983175662728354
249: 0.33979674008470934
250: 0.33976203157223517
251: 0.33972762714321375
252: 0.33969352291849075
253: 0.3396597150849663
254: 0.3396261998941929
255: 0.3395929736610086
256: 0.33956003276220353
257: 0.3395273736352201
258: 0.3394949927768855
259: 0.33946288674217473
260: 0.3394310521430045
261: 0.339399485647057
262: 0.3393681839766315
263: 0.33933714390752445
264: 0.3393063622679366
265: 0.3392758359374066
266: 0.33924556184576976
267: 0.3392155369721427
268: 0.33918575834393105
269: 0.339156223035862
270: 0.3391269281690389
271: 0.3390978709100186
272: 0.3390690484699106
273: 0.3390404581034969
274: 0.33901209710837343
275: 0.33898396282411025
276: 0.33895605263143197
277: 0.33892836395141746
278: 0.3389008942447172
279: 0.33887364101078943
280: 0.3388466017871535
281: 0.33881977414865977
282: 0.33879315570677737
283: 0.33876674410889696
284: 0.3387405370376498
285: 0.33871453221024217
286: 0.3386887273778048
287: 0.33866312032475643
288: 0.3386377088681822
289: 0.33861249085722567
290: 0.3385874641724939
291: 0.3385626267254764
292: 0.33853797645797645
293: 0.3385135113415547
294: 0.338489229376986
295: 0.33846512859372613
296: 0.33844120704939273
297: 0.3384174628292549
298: 0.33839389404573583
299: 0.338370498837925
300: 0.3383472753711013
301: 0.33832422183626587
302: 0.33830133644968613
303: 0.3382786174524478
304: 0.338256063110018
305: 0.33823367171181595
306: 0.33821144157079486
307: 0.33818937102303037
308: 0.3381674584273191
309: 0.3381457021647849
310: 0.33812410063849346
311: 0.33810265227307507
312: 0.3380813555143549
313: 0.3380602088289911
314: 0.33803921070412
315: 0.3380183596470093
316: 0.33799765418471756
317: 0.3379770928637607
318: 0.3379566742497861
319: 0.33793639692725186
320: 0.3379162594991143
321: 0.33789626058651967
322: 0.33787639882850407
323: 0.337856672881698
324: 0.3378370814200371
325: 0.33781762313447905
326: 0.3377982967327254
327: 0.3377791009389496
328: 0.33776003449352976
329: 0.33774109615278686
330: 0.3377222846887285
331: 0.33770359888879675
332: 0.33768503755562157
333: 0.3376665995067792
334: 0.33764828357455406
335: 0.33763008860570676
336: 0.3376120134612453
337: 0.33759405701620165
338: 0.33757621815941125
339: 0.33755849579329844
340: 0.3375408888336645
341: 0.33752339620948046
342: 0.33750601686268333
343: 0.33748874974797677
344: 0.33747159383263486
345: 0.3374545480963098
346: 0.33743761153084334
347: 0.33742078314008145
348: 0.33740406193969247
349: 0.33738744695698886
350: 0.3373709372307515
351: 0.3373545318110585
352: 0.3373382297591157
353: 0.3373220301470913
354: 0.33730593205795273
355: 0.3372899345853072
356: 0.33727403683324486
357: 0.3372582379161842
358: 0.33724253695872125
359: 0.3372269330954804
360: 0.3372114254709691
361: 0.3371960132394336
362: 0.337180695564719
363: 0.33716547162013044
364: 0.33715034058829696
365: 0.33713530166103833
366: 0.33712035403923396
367: 0.33710549693269337
368: 0.33709072956003017
369: 0.3370760511485373
370: 0.3370614609340645
371: 0.3370469581608989
372: 0.3370325420816458
373: 0.3370182119571133
374: 0.33700396705619784
375: 0.3369898066557724
376: 0.33697573004057557
377: 0.33696173650310385
378: 0.3369478253435046
379: 0.33693399586947137
380: 0.33692024739614107
381: 0.3369065792459923
382: 0.3368929907487462
383: 0.336879481241268
384: 0.33686605006747106
385: 0.3368526965782221
386: 0.33683942013124796
387: 0.3368262200910439
388: 0.3368130958287836
389: 0.3368000467222306
390: 0.33678707215565057
391: 0.33677417151972616
392: 0.3367613442114724
393: 0.3367485896341536
394: 0.33673590719720126
395: 0.3367232963161345
396: 0.3367107564124806
397: 0.3366982869136966
398: 0.3366858872530938
399: 0.33667355686976147
400: 0.3366612952084931
401: 0.33664910171971335
402: 0.33663697585940605
403: 0.3366249170890436
404: 0.33661292487551725
405: 0.33660099869106885
406: 0.33658913801322293
407: 0.33657734232472053
408: 0.33656561111345384
409: 0.3365539438724019
410: 0.33654234009956674
411: 0.3365307992979115
412: 0.3365193209752989
413: 0.3365079046444303
414: 0.3364965498227866
415: 0.33648525603256907
416: 0.3364740228006421
417: 0.33646284965847556
418: 0.33645173614208956
419: 0.3364406817919983
420: 0.3364296861531564
421: 0.3364187487749049
422: 0.3364078692109186
423: 0.33639704701915396
424: 0.33638628176179797
425: 0.33637557300521753
426: 0.33636492031990944
427: 0.3363543232804522
428: 0.336343781465457
429: 0.33633329445751997
430: 0.33632286184317606
431: 0.33631248321285206
432: 0.3363021581608214
433: 0.33629188628515905
434: 0.3362816671876978
435: 0.3362715004739837
436: 0.33626138575323394
437: 0.33625132263829394
438: 0.3362413107455959
439: 0.33623134969511714
440: 0.3362214391103402
441: 0.33621157861821205
442: 0.3362017678491052
443: 0.33619200643677855
444: 0.3361822940183388
445: 0.33617263023420324
446: 0.3361630147280616
447: 0.33615344714684
448: 0.3361439271406641
449: 0.33613445436282385
450: 0.33612502846973774
451: 0.33611564912091835
452: 0.33610631597893753
453: 0.3360970287093932
454: 0.3360877869808754
455: 0.3360785904649335
456: 0.336069438836044
457: 0.33606033177157796
458: 0.3360512689517698
459: 0.33604225005968563
460: 0.33603327478119316
461: 0.3360243428049305
462: 0.3360154538222768
463: 0.33600660752732264
464: 0.33599780361684034
465: 0.3359890417902557
466: 0.3359803217496191
467: 0.33597164319957834
468: 0.33596300584734984
469: 0.3359544094026919
470: 0.335945853577878
471: 0.33593733808766946
472: 0.33592886264929
473: 0.3359204269823992
474: 0.3359120308090672
475: 0.33590367385374925
476: 0.335895355843261
477: 0.335887076506754
478: 0.33587883557569065
479: 0.3358706327838212
480: 0.33586246786715945
481: 0.33585434056395946
482: 0.3358462506146926
483: 0.3358381977620246
484: 0.33583018175079316
485: 0.3358222023279855
486: 0.33581425924271685
487: 0.3358063522462081
488: 0.3357984810917652
489: 0.3357906455347572
490: 0.3357828453325959
491: 0.3357750802447153
492: 0.3357673500325506
493: 0.3357596544595188
494: 0.3357519932909984
495: 0.3357443662943099
496: 0.3357367732386964
497: 0.33572921389530436
498: 0.3357216880371648
499: 0.33571419543917463
500: 0.3357067358780779
501: 0.33569930913244816
502: 0.3356919149826695
503: 0.3356845532109196
504: 0.3356772236011517
505: 0.33566992593907746
506: 0.3356626600121494
507: 0.3356554256095443
508: 0.3356482225221462
509: 0.33564105054252996
510: 0.3356339094649447
511: 0.33562679908529774
512: 0.33561971920113876
513: 0.3356126696116435
514: 0.3356056501175985
515: 0.33559866052138576
516: 0.33559170062696714
517: 0.3355847702398694
518: 0.33557786916716925
519: 0.3355709972174788
520: 0.3355641542009307
521: 0.3355573399291639
522: 0.3355505542153094
523: 0.335543796873976
524: 0.3355370677212366
525: 0.33553036657461427
526: 0.33552369325306886
527: 0.33551704757698325
528: 0.33551042936815023
529: 0.3355038384497593
530: 0.3354972746463837
531: 0.33549073778396743
532: 0.33548422768981273
533: 0.3354777441925675
534: 0.33547128712221247
535: 0.33546485631004935
536: 0.33545845158868864
537: 0.33545207279203726
538: 0.33544571975528714
539: 0.33543939231490283
540: 0.33543309030861057
541: 0.33542681357538623
542: 0.33542056195544423
543: 0.33541433529022624
544: 0.33540813342238984
545: 0.3354019561957978
546: 0.33539580345550707
547: 0.3353896750477578
548: 0.33538357081996306
549: 0.33537749062069805
550: 0.33537143429968963
551: 0.3353654017078061
552: 0.33535939269704707
553: 0.3353534071205332
554: 0.3353474448324962
555: 0.33534150568826904
556: 0.3353355895442762
557: 0.3353296962580239
558: 0.33532382568809044
559: 0.33531797769411686
560: 0.3353121521367976
561: 0.33530634887787114
562: 0.3353005677801108
563: 0.33529480870731554
564: 0.33528907152430126
565: 0.3352833560968917
566: 0.3352776622919098
567: 0.3352719899771686
568: 0.3352663390214631
569: 0.33526070929456137
570: 0.33525510066719627
571: 0.3352495130110571
572: 0.33524394619878123
573: 0.33523840010394584
574: 0.33523287460106016
575: 0.33522736956555704
576: 0.3352218848737852
577: 0.3352164204030013
578: 0.3352109760313623
579: 0.3352055516379176
580: 0.33520014710260154
581: 0.3351947623062253
582: 0.3351893971304707
583: 0.3351840514578814
584: 0.33517872517185626
585: 0.3351734181566422
586: 0.33516813029732667
587: 0.33516286147983054
588: 0.33515761159090157
589: 0.33515238051810675
590: 0.335147168149826
591: 0.3351419743752448
592: 0.3351367990843477
593: 0.33513164216791186
594: 0.3351265035175
595: 0.335121383025454
596: 0.3351162805848884
597: 0.335111196089684
598: 0.3351061294344814
599: 0.3351010805146748
600: 0.3350960492264055
601: 0.3350910354665561
602: 0.335086039132744
603: 0.33508106012331534
604: 0.3350760983373395
605: 0.3350711536746024
606: 0.3350662260356012
607: 0.33506131532153793
608: 0.33505642143431413
609: 0.33505154427652517
610: 0.335046683751454
611: 0.33504183976306623
612: 0.33503701221600396
613: 0.3350322010155807
614: 0.33502740606777565
615: 0.3350226272792283
616: 0.3350178645572333
617: 0.3350131178097349
618: 0.33500838694532176
619: 0.3350036718732217
620: 0.33499897250329674
621: 0.3349942887460375
622: 0.334989620512559
623: 0.3349849677145943
624: 0.3349803302644912
625: 0.3349757080752058
626: 0.3349711010602985
627: 0.3349665091339289
628: 0.33496193221085085
629: 0.33495737020640814
630: 0.3349528230365295
631: 0.3349482906177235
632: 0.3349437728670751
633: 0.33493926970223986
634: 0.33493478104144003
635: 0.3349303068034601
636: 0.334925846907642
637: 0.334921401273881
638: 0.334916969822621
639: 0.33491255247485086
640: 0.3349081491520992
641: 0.3349037597764308
642: 0.33489938427044225
643: 0.33489502255725767
644: 0.33489067456052457
645: 0.33488634020440994
646: 0.3348820194135958
647: 0.3348777121132756
648: 0.3348734182291501
649: 0.3348691376874232
650: 0.3348648704147982
651: 0.33486061633847386
652: 0.33485637538614077
653: 0.3348521474859771
654: 0.3348479325666452
655: 0.3348437305572876
656: 0.3348395413875235
657: 0.33483536498744493
658: 0.3348312012876132
659: 0.334827050219055
660: 0.33482291171325956
661: 0.334818785702174
662: 0.33481467211820076
663: 0.3348105708941936
664: 0.33480648196345425
665: 0.33480240525972904
666: 0.33479834071720527
667: 0.33479428827050856
668: 0.33479024785469824
669: 0.3347862194052653
670: 0.33478220285812826
671: 0.3347781981496304
672: 0.3347742052165362
673: 0.33477022399602846
674: 0.33476625442570485
675: 0.33476229644357475
676: 0.3347583499880564
677: 0.33475441499797376
678: 0.3347504914125529
679: 0.3347465791714199
680: 0.3347426782145972
681: 0.3347387884825004
682: 0.33473490991593613
683: 0.33473104245609825
684: 0.33472718604456564
685: 0.3347233406232987
686: 0.33471950613463697
687: 0.33471568252129597
688: 0.3347118697263645
689: 0.3347080676933021
690: 0.3347042763659357
691: 0.33470049568845744
692: 0.3346967256054218
693: 0.3346929660617426
694: 0.3346892170026906
695: 0.334685478373891
696: 0.3346817501213204
697: 0.3346780321913047
698: 0.3346743245305159
699: 0.33467062708596984
700: 0.3346669398050241
701: 0.3346632626353746
702: 0.33465959552505375
703: 0.3346559384224278
704: 0.3346522912761942
705: 0.33464865403537963
706: 0.3346450266493368
707: 0.33464140906774287
708: 0.33463780124059667
709: 0.33463420311821623
710: 0.33463061465123684
711: 0.3346270357906083
712: 0.3346234664875928
713: 0.3346199066937628
714: 0.33461635636099846
715: 0.3346128154414856
716: 0.3346092838877134
717: 0.33460576165247236
718: 0.3346022486888518
719: 0.3345987449502378
720: 0.33459525039031124
721: 0.33459176496304555
722: 0.3345882886227044
723: 0.3345848213238398
724: 0.33458136302129005
725: 0.33457791367017753
726: 0.33457447322590667
727: 0.33457104164416207
728: 0.3345676188809063
729: 0.3345642048923779
730: 0.3345607996350897
731: 0.3345574030658262
732: 0.3345540151416425
733: 0.3345506358198615
734: 0.33454726505807264
735: 0.3345439028141294
736: 0.3345405490461481
737: 0.33453720371250534
738: 0.3345338667718367
739: 0.33453053818303446
740: 0.334527217905246
741: 0.33452390589787184
742: 0.3345206021205641
743: 0.3345173065332245
744: 0.33451401909600237
745: 0.3345107397692937
746: 0.33450746851373814
747: 0.33450420529021857
748: 0.33450095005985836
749: 0.33449770278402036
750: 0.33449446342430456
751: 0.3344912319425473
752: 0.33448800830081876
753: 0.3344847924614216
754: 0.3344815843868896
755: 0.3344783840399854
756: 0.33447519138369974
757: 0.334472006381249
758: 0.3344688289960743
759: 0.33446565919183946
760: 0.3344624969324296
761: 0.3344593421819497
762: 0.33445619490472306
763: 0.3344530550652894
764: 0.3344499226284037
765: 0.33444679755903467
766: 0.3344436798223633
767: 0.3344405693837812
768: 0.33443746620888903
769: 0.3344343702634956
770: 0.33443128151361573
771: 0.3344281999254694
772: 0.33442512546547987
773: 0.33442205810027253
774: 0.3344189977966735
775: 0.334415944521708
776: 0.33441289824259934
777: 0.3344098589267672
778: 0.3344068265418267
779: 0.33440380105558637
780: 0.3344007824360475
781: 0.3343977706514026
782: 0.33439476567003373
783: 0.33439176746051175
784: 0.3343887759915946
785: 0.33438579123222634
786: 0.3343828131515354
787: 0.3343798417188339
788: 0.33437687690361595
789: 0.33437391867555666
790: 0.3343709670045108
791: 0.3343680218605114
792: 0.33436508321376884
793: 0.33436215103466965
794: 0.33435922529377476
795: 0.3343563059618192
796: 0.33435339300970984
797: 0.33435048640852544
798: 0.3343475861295143
799: 0.3343446921440941

In [58]:
for j in range(len(best_epochs_list)):
    print(f"{j}: {best_epochs_list[j]}", end='\n')

In [59]:
theta

array([ 0.00510997, -0.020483  ,  0.03658122, -0.01540356,  0.06814969,
       -0.10549659, -0.11352047, -0.309909  , -0.04039474, -0.01195563,
       -0.06367129, -0.06494003,  0.02578842,  0.29113647,  0.11156793,
       -0.00176145, -0.1022421 , -0.12549267, -0.14863908, -0.28419676,
       -0.32385316, -0.13514482, -0.18454338, -0.32314728, -0.12773646,
       -0.55238058,  0.31481863, -1.14186148, -0.27333017, -0.32744554,
       -0.15897546, -1.1663326 , -0.1824781 , -0.09633045, -0.12689423,
       -0.17669138, -0.23959142, -0.30984549, -0.52092254, -0.12506084,
        0.02636924,  0.05140074, -0.30081072, -0.04350579, -0.60804991,
       -0.57637641, -0.46832728])

## Model performance on training set

We can test the performance of the model through its confusion matrix, F1 score, and accuracy score.

First, we predict on the training set.

In [157]:
## On training data
pred = fwd(X_train, theta, dbg=False)

## Decision (Threshold = 0.5)
y_train_hat = (pred >= 0.35).astype(int)

In [158]:
y_train_hat.shape

(79999, 1)

In [159]:
y_train.shape

(79999, 1)

In [160]:
print(confusion_matrix(y_train, y_train_hat))

[[56063  9556]
 [ 4469  9911]]

In [161]:
print(f1_score(y_train, y_train_hat))

0.585635359116022

In [162]:
print(precision_score(y_train, y_train_hat))

0.5091179945548877

In [163]:
print(recall_score(y_train, y_train_hat))

0.689221140472879

In [164]:
print(roc_auc_score(y_train, pred))

0.8567083402032905

In [165]:
print(accuracy_score(y_train, y_train_hat))

0.8246853085663571

## Model performance on test set

Now, we predict on the test set.

In [121]:
## On test data

pred = fwd(X_test, theta, dbg=False)

## Decision (Threshold = 0.5)
y_test_hat = (pred >= 0.5).astype(int)

In [122]:
y_test_hat.shape

(20000, 1)

In [123]:
y_test.shape

(20000, 1)

In [124]:
print(confusion_matrix(y_test, y_test_hat))

[[15571   981]
 [ 2282  1166]]

In [125]:
print(f1_score(y_test, y_test_hat))

0.4168007149240393

In [126]:
print(roc_auc_score(y_test, pred))

0.8568200729137113

In [127]:
print(accuracy_score(y_test, y_test_hat))

0.83685

## Write to a CSV file

In [48]:
# Convert the NumPy array to a DataFrame
X_train_csv = pd.DataFrame(X_train)
y_train_csv = pd.DataFrame(y_train)
X_test_csv = pd.DataFrame(X_test)
y_test_csv = pd.DataFrame(y_test)

# Save the DataFrame to a CSV file
X_train_csv.to_csv("../cscore_data/X_train_79999.csv", index=False)
y_train_csv.to_csv("../cscore_data/y_train_79999.csv", index=False)
X_test_csv.to_csv("../cscore_data/X_test_20000.csv", index=False)
y_test_csv.to_csv("../cscore_data/y_test_20000.csv", index=False)

In [49]:
del X

In [51]:
X_train_csv[X_train_csv.columns[:15]].head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,-0.346602,0.393752,0.508346,0.515046,0.493245,0.568628,0.839726,1.303072,0.824098,1.640900,0.853853,0.962306,-0.468365,-0.578554,0.681646
1,-0.256603,-0.522647,-0.499451,0.364394,-0.700135,0.292650,-1.674983,-1.078513,0.181687,-0.765559,-0.185656,0.105056,1.266617,0.369884,-2.089671
2,0.319596,-1.757556,-1.954014,0.515046,-0.172056,0.393296,0.116532,-0.230175,2.366066,0.069805,0.514149,0.565818,0.012495,-0.756321,-0.640697
3,-0.394233,-0.817221,-0.886786,0.771718,0.493245,0.717882,1.300659,0.891266,0.478968,0.439414,0.610375,0.930182,0.988590,0.348242,0.597783
4,-0.300769,0.682193,0.888724,0.771718,0.028710,0.484778,1.164501,1.488163,0.604833,0.985493,0.610375,1.268575,1.459624,-2.181498,1.286865