# Credit score classification using logistic regression

We are using a credit-related dataset found in Kaggle (source: https://www.kaggle.com/datasets/parisrohan/credit-score-classification/data). The dataset consists of 27 input features and one target label, that is the credit score.

Goal : To predict the credit score of a new, unseen data using logistic regression model.

In [1]:
import numpy as np
np.random.seed(42)
import pandas as pd
import tqdm
import time

from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectKBest, f_classif
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import roc_auc_score, precision_score, recall_score
from sklearn.metrics import confusion_matrix, accuracy_score, f1_score
from sklearn.impute import KNNImputer
from numba import njit

np.seterr(all='raise')

{'divide': 'warn', 'over': 'warn', 'under': 'ignore', 'invalid': 'warn'}

## Load and clean the data

In [2]:
def load_data():
    filename = "../train_data/cs_train.csv"
    df = pd.read_csv(filename)

    ## Separate target from features
    X = df.drop(columns=['Credit_Score'])
    y = df['Credit_Score']

    return X, y

In [3]:
def slice_split(X, y, num_samples, compare_to_r_ref):
    X = X.to_numpy()[:num_samples]
    y = y.to_numpy()[:num_samples]
    
    ## Split into training and test set
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=1332)
    
    print(f"Train X shape is: {X_train.shape}")
    print(f"Train Y shape is: {y_train.shape}")
    print(f"Test X shape is: {X_test.shape}")
    print(f"Test Y shape is: {y_test.shape}")
    return X_train, X_test, y_train, y_test

In [4]:
X, y = load_data()
X.head()

/tmp/ipykernel_233837/566418612.py:3: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,4.0,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,4.0,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,4.0,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177

We'll then perform data cleaning to filter out irrelevant features for our prediction. A little bit of feature engineering after might be necessary.

First of all, we need to look more into our 'Monthly_Balance' column, which holds more than one data type, hence detected as DTypeWarning.

In [5]:
print(X['Monthly_Balance'].unique())

['312.49408867943663' '284.62916249607184' '331.2098628537912' ...
 516.8090832742814 319.1649785257098 393.6736955618808]

In [6]:
X['Monthly_Balance'] = pd.to_numeric(X['Monthly_Balance'], errors='coerce')
X.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.494089
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,4.0,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.629162
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,4.0,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.209863
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,4.0,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.451310
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.489231

In [7]:
X.shape

(100000, 27)

'ID', 'Customer_ID', 'Name', 'SSN', 'Occupation', and 'Type_of_Loan' are, for now, **irrelevant** to the prediction.

In [8]:
## Drop irrelevant features
X = X.drop(columns=['ID', 'Customer_ID', 'Name', 'SSN', 'Occupation', 'Type_of_Loan'])
X.shape

(100000, 21)

Furthermore, there are features that hold string values, which obviously cannot be processed by the logistic regression model. We need to convert them into one-hot encoding vectors.

In [9]:
## One-hot encoding
X = pd.get_dummies(X, columns=['Month', 'Credit_Mix', 'Payment_of_Min_Amount', 'Payment_Behaviour'])
y = pd.get_dummies(y)
print(f"New shape of X: {X.shape}")
print(f"New shape of y: {y.shape}")

New shape of X: (100000, 39)
New shape of y: (100000, 3)

In [10]:
## Map 'Credit_History_Age' into decimals and NaN values
import re

# Replace 'NA' with NaN
X['Credit_History_Age'].replace('NA', pd.NA, inplace=True)

# Function to extract years and months
def extract_years_months(value):
    if pd.isna(value):
        return value
    match = re.match(r'(\d+)\s+Years?\s+and\s+(\d+)\s+Months?', value)
    if match:
        years, months = map(int, match.groups())
        return years + months / 12
    return None

# Apply the function to the column
X['Credit_History_Age'] = X['Credit_History_Age'].apply(extract_years_months)

/tmp/ipykernel_233837/2337723389.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X['Credit_History_Age'].replace('NA', pd.NA, inplace=True)

In [11]:
X['Credit_History_Age'].head()

0    22.083333
1          NaN
2    22.250000
3    22.333333
4    22.416667
Name: Credit_History_Age, dtype: float64

Now, we need to address NaN values as a part of data cleaning process.

In [12]:
## Make sure all values are numerical
X_num = X.apply(pd.to_numeric, errors='coerce')

In [13]:
X_num.isna().sum()

Age                                                    4939
Annual_Income                                          6980
Monthly_Inhand_Salary                                 15002
Num_Bank_Accounts                                         0
Num_Credit_Card                                           0
Interest_Rate                                             0
Num_of_Loan                                            4785
Delay_from_due_date                                       0
Num_of_Delayed_Payment                                 9746
Changed_Credit_Limit                                   2091
Num_Credit_Inquiries                                   1965
Outstanding_Debt                                       1009
Credit_Utilization_Ratio                                  0
Credit_History_Age                                     9030
Total_EMI_per_month                                       0
Amount_invested_monthly                                8784
Monthly_Balance                                        1209
Month_April                                               0
Month_August                                              0
Month_February                                            0
Month_January                                             0
Month_July                                                0
Month_June                                                0
Month_March                                               0
Month_May                                                 0
Credit_Mix_Bad                                            0
Credit_Mix_Good                                           0
Credit_Mix_Standard                                       0
Credit_Mix__                                              0
Payment_of_Min_Amount_NM                                  0
Payment_of_Min_Amount_No                                  0
Payment_of_Min_Amount_Yes                                 0
Payment_Behaviour_!@9#%8                                  0
Payment_Behaviour_High_spent_Large_value_payments         0
Payment_Behaviour_High_spent_Medium_value_payments        0
Payment_Behaviour_High_spent_Small_value_payments         0
Payment_Behaviour_Low_spent_Large_value_payments          0
Payment_Behaviour_Low_spent_Medium_value_payments         0
Payment_Behaviour_Low_spent_Small_value_payments          0
dtype: int64

In [14]:
## Fill the missing values with mean in each column
X_num = X_num.fillna(X_num.mean())

# Initialize the KNN imputer
# imputer = KNNImputer(missing_values=np.nan, n_neighbors=5)

# # Fit and transform the data
# start_time = time.time()
# X_imputed = imputer.fit_transform(X_num)
# end_time = time.time()

# print(f"KNNImputer fitting time: {end_time - start_time} seconds")

# # Convert back to DataFrame
# X_num = pd.DataFrame(X_imputed, columns=X_num.columns)
# del X_imputed

In [15]:
X_num.isna().sum()

Age                                                   0
Annual_Income                                         0
Monthly_Inhand_Salary                                 0
Num_Bank_Accounts                                     0
Num_Credit_Card                                       0
Interest_Rate                                         0
Num_of_Loan                                           0
Delay_from_due_date                                   0
Num_of_Delayed_Payment                                0
Changed_Credit_Limit                                  0
Num_Credit_Inquiries                                  0
Outstanding_Debt                                      0
Credit_Utilization_Ratio                              0
Credit_History_Age                                    0
Total_EMI_per_month                                   0
Amount_invested_monthly                               0
Monthly_Balance                                       0
Month_April                                           0
Month_August                                          0
Month_February                                        0
Month_January                                         0
Month_July                                            0
Month_June                                            0
Month_March                                           0
Month_May                                             0
Credit_Mix_Bad                                        0
Credit_Mix_Good                                       0
Credit_Mix_Standard                                   0
Credit_Mix__                                          0
Payment_of_Min_Amount_NM                              0
Payment_of_Min_Amount_No                              0
Payment_of_Min_Amount_Yes                             0
Payment_Behaviour_!@9#%8                              0
Payment_Behaviour_High_spent_Large_value_payments     0
Payment_Behaviour_High_spent_Medium_value_payments    0
Payment_Behaviour_High_spent_Small_value_payments     0
Payment_Behaviour_Low_spent_Large_value_payments      0
Payment_Behaviour_Low_spent_Medium_value_payments     0
Payment_Behaviour_Low_spent_Small_value_payments      0
dtype: int64

## Feature engineering

Feature engineering lets us create new features by combining existing ones. These new features help the model to see the relationship between features and can improve the model's performance.

In [16]:
## Interaction features
X_num['Debt_to_Income_Ratio'] = X_num['Outstanding_Debt'] / X_num['Annual_Income']
X_num['Loan_to_Income_Ratio'] = X_num['Num_of_Loan'] / X_num['Annual_Income']
X_num['Investment_Ratio'] = X_num['Amount_invested_monthly'] / X_num['Monthly_Inhand_Salary']
X_num['Credit_Card_Utilization'] = X_num['Credit_Utilization_Ratio'] * X_num['Num_Credit_Card']

## Aggregated features
X_num['Total_Debt'] = X_num['Outstanding_Debt'] + X_num['Total_EMI_per_month']

## One-hot encoding for seasons
## --> Winter
X_num['Winter'] = X_num['Month_January'] + X_num['Month_February']
## --> Spring
X_num['Spring'] = X_num['Month_March'] + X_num['Month_April'] + X_num['Month_May']
## --> Summer
X_num['Summer'] = X_num['Month_June'] + X_num['Month_July'] + X_num['Month_August']

We also need to perform normalization to some features so that all features are in a virtually comparable range of values (feature scaling). We will use z-score normalization that subtracts the mean from each feature and divide the resulting value by its standard deviation.

First, we will reduce the impact of **outliers** (i.e., skewed, and possibly incorrect,
values in columns that might distort z-score normalization results) by applying natural log transformation.

In [17]:
columns_log = [
    'Age', 'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
    'Num_Credit_Card',
    'Interest_Rate', 'Num_of_Loan', 'Delay_from_due_date', 'Num_of_Delayed_Payment',
    'Changed_Credit_Limit', 'Num_Credit_Inquiries', 'Outstanding_Debt',
    'Credit_Utilization_Ratio', 'Credit_History_Age', 'Total_EMI_per_month',
    'Amount_invested_monthly', 'Monthly_Balance',
    'Debt_to_Income_Ratio', 'Loan_to_Income_Ratio', 'Investment_Ratio', 
    'Credit_Card_Utilization', 'Total_Debt'
]

## Prevent FloatingPointError
X_num[columns_log] = X_num[columns_log].map(lambda x: x if x >= 0 else 0.01)

## Apply log transformation to necessary columns
X_num[columns_log] = np.log1p(X_num[columns_log])

We can then proceed for normalization.

In [18]:
## We want to normalize all columns except one-hot encoding vectors
columns_norm = [
    'Age', 'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts', 
    'Num_Credit_Card',
    'Interest_Rate', 'Num_of_Loan', 'Delay_from_due_date', 'Num_of_Delayed_Payment',
    'Changed_Credit_Limit', 'Num_Credit_Inquiries', 'Outstanding_Debt',
    'Credit_Utilization_Ratio', 'Credit_History_Age', 'Total_EMI_per_month',
    'Amount_invested_monthly', 'Monthly_Balance',
    'Debt_to_Income_Ratio', 'Loan_to_Income_Ratio', 'Investment_Ratio', 
    'Credit_Card_Utilization', 'Total_Debt'
]

## Initialize the scaler
scaler = StandardScaler()

## Fit and transform the selected columns
X_num[columns_norm] = scaler.fit_transform(X_num[columns_norm])

In [19]:
X_num['Debt_to_Income_Ratio'].head()

0   -0.1441
1   -0.1441
2   -0.1441
3   -0.1441
4   -0.1441
Name: Debt_to_Income_Ratio, dtype: float64

In [20]:
X_num['Num_Credit_Card'].head()

0   -0.409512
1   -0.409512
2   -0.409512
3   -0.409512
4   -0.409512
Name: Num_Credit_Card, dtype: float64

## Risk minimization

We need to come to an understanding that logistic regression model cannot be trained on the target label of three possible binary values.

In [21]:
y.head()

   Good   Poor  Standard
0  True  False     False
1  True  False     False
2  True  False     False
3  True  False     False
4  True  False     False

Let's assume that the global finance company we're working with is not looking for more market expansion and is trying to minimize loan risk. Therefore, we want to label parties with **Good** credit scores as being eligible for loans, while the rest are not.

In [22]:
## Create a new binary label
y['Target'] = y['Good']

## Drop the original one-hot encoded columns
y = y.drop(columns=['Good', 'Standard', 'Poor'])

In [23]:
y.shape

(100000, 1)

## Using feature selection

Use feature selection to reduce dimension.

In [24]:
def apply_selection(X, y, k):
    selector = SelectKBest(f_classif, k=k)
    y_new = y.values.ravel()
    X_new = pd.DataFrame(selector.fit_transform(X, y_new), columns=X.columns[selector.get_support()])

    print(f"Selected features shape: {X_new.shape}")
    return X_new

In [25]:
X_fs = apply_selection(X_num, y, 32)

Selected features shape: (100000, 32)

## Preparing data for training

In [26]:
## NUM_SAMPLES is the combination of all sets (NUM_TRAINING + NUM_TEST)
NUM_SAMPLES = 2048
COMPARE_TO_R_REF = False
lr = 0.001
mu = 0.5

## Slice data into NumPy arrays and split into training and test sets
X_train, X_test, y_train, y_test = slice_split(
    X_fs, y,
    num_samples=NUM_SAMPLES,
    compare_to_r_ref=COMPARE_TO_R_REF
)

## n = num_of_features
n = X_train.shape[1]

# Same shape as Marcelo's reference code
betas = np.zeros((n, ))
# betas = np.random.randn(n)

Train X shape is: (1024, 32)
Train Y shape is: (1024, 1)
Test X shape is: (1024, 32)
Test Y shape is: (1024, 1)

In [27]:
n

32

## Applying Principal Component Analysis

Principal Component Analysis (PCA) allows for a reduced dataset, meaning the new dataset will have a small number of new features (called the principal components), which explains all original features. 

How well these new features explain the original ones is parameterized by explained variance ratio.

In [ ]:
from sklearn.decomposition import PCA

def apply_pca(X_train, X_test, n_components):
    pca = PCA(n_components=n_components)
    X_train_pca = pca.fit_transform(X_train)
    X_test_pca = pca.transform(X_test)
    
    print(f"Explained variance ratio: {pca.explained_variance_ratio_}")
    print(f"Number of components after PCA: {X_train_pca.shape[1]}")
    
    return X_train_pca, X_test_pca

In [ ]:
X_train, X_test = apply_pca(X_train, X_test, n_components=32)

## n = num_of_features
n = X_train.shape[1]
print(f"n = {n}")

# Same shape as Marcelo's reference code
betas = np.zeros((n, ))

In [ ]:
print(f"Train X shape is: {X_train.shape}")
print(f"Train Y shape is: {y_train.shape}")
print(f"Test X shape is: {X_test.shape}")
print(f"Test Y shape is: {y_test.shape}")

## Nesterov model training

In [28]:
@njit
def sigmoid(z):
    return 1 / (1 + np.exp(-z))

@njit
def fwd(train_x, betas, dbg=False):
    preds = train_x @ betas   # A vector of linear_predictions/logits z = train_x @ weights
    if dbg:
        print(f"Logits: {preds}")
    return np.expand_dims(sigmoid(preds), -1)   # Shape: (m, 1)

@njit
def calculate_gradient(train_x, train_y, betas, fwd, dbg):
    preds = fwd(train_x, betas, dbg)   # A vector of logistic predictions y_hat = sigmoid(z)
    gradient = -train_x.T @ (train_y - preds) / len(train_y)
    return gradient   # Shape: (10, 1) == Rows correspond to num_features
    ## This function is used to update the values of betas: w_new = w_old + lr * gradient

def cost(x, y, theta):
    m = x.shape[0]
    h = sigmoid(np.matmul(x, theta))   # h: hypothesis, basically preds/y_hat
    t1 = np.matmul(-y.T, np.log(np.clip(h, 0.000000000000001, np.max(h))))
    t2_a = (1 - y.T)
    t2_b = np.log(np.clip(1 - h, 0.000000000000001, np.max(1 - h)))  # Used to get numerical issues
    ## np.clip() function prevents computing the log of 0, by taking the minimum of 1e-15.
    t2 = np.matmul(t2_a, t2_b)

    return ((t1 - t2) / m)[0]   # Shape: (1,) == scalar value

def nesterov(betas, epochs, patience, lr, mu, train_x, train_y):
    import copy

    phi = copy.deepcopy(betas)
    theta = copy.deepcopy(betas)

    check_early = 0
    best_loss = float('inf')
    best_epochs_list = []

    nesterov_loss = [0 for _ in range(epochs)]
    for i in tqdm.trange(epochs):
    # for i in range(epochs):
        gradient = calculate_gradient(train_x, train_y, theta, fwd, dbg=False)

        ## Assign updated weights into phi_prime
        phi_prime = theta - lr * np.squeeze(gradient)   # np.squeeze() removes single dimensions --> shape (10,)
        
        ## Nesterov acceleration process
        if i == 0:
            theta = phi_prime
        else:
            ## If current updated weight (phi_prime) < previous weight (phi), 
            ## The updated weight theta will be even smaller.
            theta = phi_prime + mu * (phi_prime - phi)
        phi = phi_prime   # phi is then the weight of the previous epoch/update
        loss = cost(train_x, train_y, theta)

        ## Early stopping
        if patience > 0:
            if loss < best_loss:
                best_loss = loss
                best_epoch = i
                best_theta = theta
                best_epochs_list.append(best_epoch)
                check_early = 0
            else:
                check_early += 1
                if check_early >= patience:
                    print(f"Early stopping at {patience} epochs after {best_epoch} with best loss {best_loss}")
                    return nesterov_loss[:best_epoch + 1], best_theta, phi, best_epochs_list
        else:
            best_epoch = epochs - 1
            best_theta = theta

        ## Update list
        nesterov_loss[i] = loss

        # print(f"New loss: {cost(train_x, train_y, v)[0]}")
    return nesterov_loss[:best_epoch + 1], best_theta, phi, best_epochs_list

In [29]:
# Ensure inputs are of the correct type
betas = np.array(betas, dtype=np.float64)
X_train = np.array(X_train, dtype=np.float64)
y_train = np.array(y_train, dtype=np.float64)
X_test = np.array(X_test, dtype=np.float64)
y_test = np.array(y_test, dtype=np.float64)
lr = float(lr)
mu = float(mu)

In [30]:
losses, theta, phi, best_epochs_list = nesterov(betas, 800, -1, lr, mu, X_train, y_train)

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 800/800 [00:03<00:00, 219.77it/s]

In [31]:
for j in range(len(losses)):
    print(f"{j}: {losses[j]}", end='\n')
# Ideal Gradient (800 epochs) #
## seed(42), lr = 0.001, mu = 0.3 --> loss = 0.5433165928958901
## seed(42), lr = 0.001, mu = 0.5 --> loss = 0.5139704562064134

# Oscillating Gradient (800 epochs) #
## seed(42), lr = 0.003, mu = 0.5 --> loss = 0.49509424569059735
## seed(42), lr = 0.003, mu = 0.6 --> loss = 0.4102733269497619

# Early stopping (patience = 50) #
## seed(42), lr = 0.003, mu = 0.5 --> 964: 0.410228534339208
## seed(42), lr = 0.003, mu = 0.6 --> 422: 0.46334269494781627

# Ideal Gradient (800 epochs) with Feature Engineering #
## seed(42), lr = 0.001, mu = 0.3 --> loss = 0.523951850559082
## seed(42), lr = 0.001, mu = 0.5 --> loss = 0.4922252143522289

# Early stopping (patience = 50) with Feature Engineering #
## seed(42), lr = 0.003, mu = 0.5 --> 739: 0.41164361016071044
## seed(42), lr = 0.003, mu = 0.6 --> 314: 0.4688941580652026

0: 0.6928952860229045
1: 0.6925181641879511
2: 0.6920792723811859
3: 0.6916103537911873
4: 0.6911272739443894
5: 0.6906379577612585
6: 0.6901463611117161
7: 0.6896544565082234
8: 0.689163225509971
9: 0.6886731546037826
10: 0.6881844829590243
11: 0.6876973262060886
12: 0.6872117382746185
13: 0.6867277422867349
14: 0.686245345990611
15: 0.6857645494707096
16: 0.6852853489996134
17: 0.6848077389622802
18: 0.6843317128173305
19: 0.6838572635772557
20: 0.6833843840482906
21: 0.6829130669502195
22: 0.6824433049761989
23: 0.6819750908226132
24: 0.6815084172039599
25: 0.6810432768602526
26: 0.6805796625606894
27: 0.6801175671054493
28: 0.6796569833265609
29: 0.6791979040882974
30: 0.6787403222873419
31: 0.6782842308528343
32: 0.6778296227463577
33: 0.6773764909618967
34: 0.6769248285257775
35: 0.676474628496602
36: 0.6760258839651754
37: 0.6755785880544322
38: 0.6751327339193591
39: 0.674688314746918
40: 0.6742453237559656
41: 0.673803754197173
42: 0.6733635993529451
43: 0.6729248525373377
44: 0.6724875070959742
45: 0.6720515564059608
46: 0.6716169938758024
47: 0.6711838129453154
48: 0.6707520070855411
49: 0.6703215697986583
50: 0.6698924946178947
51: 0.6694647751074365
52: 0.6690384048623396
53: 0.6686133775084377
54: 0.6681896867022512
55: 0.6677673261308947
56: 0.6673462895119833
57: 0.6669265705935403
58: 0.6665081631539007
59: 0.6660910610016181
60: 0.665675257975368
61: 0.665260747943851
62: 0.6648475248056978
63: 0.6644355824893693
64: 0.6640249149530604
65: 0.6636155161846004
66: 0.6632073802013543
67: 0.6628005010501231
68: 0.6623948728070439
69: 0.6619904895774891
70: 0.6615873454959651
71: 0.6611854347260115
72: 0.6607847514600984
73: 0.6603852899195245
74: 0.6599870443543148
75: 0.6595900090431164
76: 0.6591941782930958
77: 0.6587995464398351
78: 0.6584061078472273
79: 0.658013856907372
80: 0.6576227880404711
81: 0.6572328956947228
82: 0.6568441743462167
83: 0.6564566184988281
84: 0.6560702226841121
85: 0.6556849814611974
86: 0.6553008894166792
87: 0.6549179411645136
88: 0.6545361313459106
89: 0.654155454629226
90: 0.6537759057098554
91: 0.6533974793101264
92: 0.6530201701791903
93: 0.652643973092916
94: 0.6522688828537803
95: 0.6518948942907612
96: 0.6515220022592292
97: 0.6511502016408394
98: 0.650779487343423
99: 0.6504098543008793
100: 0.6500412974730667
101: 0.6496738118456942
102: 0.6493073924302134
103: 0.6489420342637096
104: 0.6485777324087927
105: 0.6482144819534891
106: 0.6478522780111329
107: 0.6474911157202571
108: 0.647130990244485
109: 0.646771896772421
110: 0.6464138305175431
111: 0.6460567867180929
112: 0.6457007606369678
113: 0.6453457475616124
114: 0.6449917428039103
115: 0.6446387417000745
116: 0.6442867396105404
117: 0.6439357319198564
118: 0.643585714036577
119: 0.643236681393153
120: 0.6428886294458251
121: 0.6425415536745152
122: 0.6421954495827182
123: 0.6418503126973956
124: 0.6415061385688666
125: 0.641162922770702
126: 0.6408206608996155
127: 0.6404793485753582
128: 0.6401389814406095
129: 0.6397995551608733
130: 0.6394610654243683
131: 0.6391235079419233
132: 0.6387868784468709
133: 0.6384511726949407
134: 0.6381163864641534
135: 0.6377825155547161
136: 0.6374495557889154
137: 0.6371175030110132
138: 0.6367863530871412
139: 0.6364561019051956
140: 0.6361267453747332
141: 0.6357982794268664
142: 0.6354707000141593
143: 0.6351440031105233
144: 0.634818184711114
145: 0.6344932408322274
146: 0.634169167511196
147: 0.6338459608062873
148: 0.6335236167965995
149: 0.63320213158196
150: 0.6328815012828231
151: 0.6325617220401669
152: 0.632242790015394
153: 0.6319247013902269
154: 0.6316074523666105
155: 0.6312910391666078
156: 0.6309754580323017
157: 0.6306607052256938
158: 0.6303467770286046
159: 0.6300336697425735
160: 0.62972137968876
161: 0.6294099032078441
162: 0.6290992366599275
163: 0.6287893764244359
164: 0.6284803189000194
165: 0.6281720605044562
166: 0.627864597674554
167: 0.627557926866053
168: 0.6272520445535295
169: 0.6269469472302981
170: 0.6266426314083169
171: 0.6263390936180905
172: 0.626036330408575
173: 0.6257343383470819
174: 0.6254331140191842
175: 0.625132654028621
176: 0.6248329549972036
177: 0.6245340135647213
178: 0.6242358263888477
179: 0.6239383901450478
180: 0.623641701526485
181: 0.6233457572439278
182: 0.6230505540256588
183: 0.6227560886173815
184: 0.6224623577821298
185: 0.6221693583001758
186: 0.6218770869689401
187: 0.6215855406029
188: 0.6212947160335007
189: 0.621004610109064
190: 0.6207152196947003
191: 0.6204265416722186
192: 0.6201385729400376
193: 0.6198513104130984
194: 0.6195647510227753
195: 0.6192788917167886
196: 0.6189937294591177
197: 0.618709261229913
198: 0.6184254840254109
199: 0.6181423948578461
200: 0.6178599907553665
201: 0.6175782687619474
202: 0.6172972259373072
203: 0.6170168593568207
204: 0.6167371661114366
205: 0.6164581433075926
206: 0.6161797880671318
207: 0.6159020975272195
208: 0.6156250688402596
209: 0.6153486991738129
210: 0.6150729857105145
211: 0.6147979256479916
212: 0.6145235161987826
213: 0.6142497545902553
214: 0.6139766380645264
215: 0.6137041638783812
216: 0.6134323293031936
217: 0.6131611316248461
218: 0.6128905681436503
219: 0.6126206361742689
220: 0.6123513330456356
221: 0.6120826561008786
222: 0.6118146026972412
223: 0.6115471702060051
224: 0.6112803560124132
225: 0.6110141575155921
226: 0.6107485721284767
227: 0.6104835972777338
228: 0.6102192304036859
229: 0.6099554689602362
230: 0.6096923104147939
231: 0.609429752248199
232: 0.6091677919546482
233: 0.6089064270416216
234: 0.6086456550298083
235: 0.6083854734530334
236: 0.6081258798581854
237: 0.6078668718051442
238: 0.6076084468667072
239: 0.60735060262852
240: 0.6070933366890027
241: 0.60683664665928
242: 0.606580530163111
243: 0.6063249848368171
244: 0.6060700083292138
245: 0.6058155983015396
246: 0.6055617524273881
247: 0.6053084683926374
248: 0.6050557438953831
249: 0.6048035766458687
250: 0.6045519643664187
251: 0.60430090479137
252: 0.6040503956670058
253: 0.6038004347514877
254: 0.6035510198147896
255: 0.6033021486386319
256: 0.6030538190164143
257: 0.602806028753152
258: 0.6025587756654092
259: 0.6023120575812347
260: 0.6020658723400976
261: 0.6018202177928225
262: 0.6015750918015265
263: 0.6013304922395546
264: 0.6010864169914176
265: 0.6008428639527288
266: 0.6005998310301408
267: 0.6003573161412848
268: 0.6001153172147072
269: 0.5998738321898089
270: 0.5996328590167842
271: 0.5993923956565592
272: 0.5991524400807319
273: 0.5989129902715116
274: 0.5986740442216589
275: 0.5984355999344267
276: 0.5981976554235003
277: 0.5979602087129385
278: 0.5977232578371151
279: 0.5974868008406604
280: 0.5972508357784038
281: 0.597015360715315
282: 0.5967803737264475
283: 0.5965458728968813
284: 0.5963118563216657
285: 0.5960783221057637
286: 0.5958452683639945
287: 0.5956126932209794
288: 0.5953805948110847
289: 0.5951489712783671
290: 0.5949178207765189
291: 0.5946871414688131
292: 0.5944569315280489
293: 0.5942271891364983
294: 0.5939979124858517
295: 0.5937690997771645
296: 0.5935407492208045
297: 0.5933128590363983
298: 0.5930854274527793
299: 0.5928584527079352
300: 0.592631933048956
301: 0.5924058667319821
302: 0.5921802520221537
303: 0.5919550871935583
304: 0.5917303705291811
305: 0.5915061003208539
306: 0.5912822748692049
307: 0.5910588924836089
308: 0.5908359514821366
309: 0.5906134501915071
310: 0.5903913869470367
311: 0.5901697600925913
312: 0.5899485679805373
313: 0.5897278089716933
314: 0.5895074814352822
315: 0.5892875837488833
316: 0.5890681142983851
317: 0.588849071477937
318: 0.5886304536899034
319: 0.588412259344817
320: 0.5881944868613314
321: 0.5879771346661758
322: 0.5877602011941088
323: 0.5875436848878723
324: 0.5873275841981471
325: 0.5871118975835063
326: 0.5868966235103723
327: 0.5866817604529698
328: 0.5864673068932839
329: 0.5862532613210139
330: 0.5860396222335309
331: 0.5858263881358333
332: 0.5856135575405037
333: 0.585401128967666
334: 0.585189100944942
335: 0.584977472007409
336: 0.584766240697558
337: 0.5845554055652504
338: 0.5843449651676773
339: 0.5841349180693168
340: 0.5839252628418931
341: 0.5837159980643357
342: 0.5835071223227373
343: 0.5832986342103144
344: 0.5830905323273659
345: 0.5828828152812333
346: 0.5826754816862607
347: 0.5824685301637548
348: 0.582261959341945
349: 0.5820557678559455
350: 0.5818499543477145
351: 0.5816445174660162
352: 0.5814394558663822
353: 0.5812347682110731
354: 0.5810304531690396
355: 0.5808265094158855
356: 0.5806229356338296
357: 0.5804197305116678
358: 0.5802168927447363
359: 0.5800144210348742
360: 0.5798123140903867
361: 0.5796105706260087
362: 0.5794091893628678
363: 0.5792081690284486
364: 0.5790075083565565
365: 0.5788072060872815
366: 0.5786072609669635
367: 0.5784076717481559
368: 0.5782084371895908
369: 0.5780095560561448
370: 0.5778110271188026
371: 0.577612849154624
372: 0.5774150209467083
373: 0.5772175412841613
374: 0.5770204089620602
375: 0.5768236227814206
376: 0.5766271815491628
377: 0.576431084078078
378: 0.5762353291867953
379: 0.5760399156997498
380: 0.5758448424471474
381: 0.5756501082649349
382: 0.5754557119947656
383: 0.5752616524839682
384: 0.5750679285855143
385: 0.5748745391579864
386: 0.574681483065547
387: 0.5744887591779062
388: 0.5742963663702914
389: 0.5741043035234149
390: 0.5739125695234445
391: 0.5737211632619718
392: 0.5735300836359813
393: 0.5733393295478219
394: 0.5731488999051739
395: 0.5729587936210219
396: 0.5727690096136225
397: 0.5725795468064765
398: 0.5723904041282981
399: 0.5722015805129865
400: 0.5720130748995962
401: 0.5718248862323081
402: 0.5716370134604013
403: 0.5714494555382233
404: 0.5712622114251632
405: 0.5710752800856217
406: 0.570888660488984
407: 0.5707023516095916
408: 0.5705163524267146
409: 0.570330661924524
410: 0.570145279092064
411: 0.5699602029232252
412: 0.5697754324167174
413: 0.5695909665760417
414: 0.5694068044094651
415: 0.5692229449299929
416: 0.5690393871553425
417: 0.568856130107917
418: 0.568673172814779
419: 0.5684905143076249
420: 0.5683081536227581
421: 0.5681260898010644
422: 0.5679443218879859
423: 0.5677628489334955
424: 0.5675816699920717
425: 0.5674007841226738
426: 0.5672201903887162
427: 0.5670398878580444
428: 0.5668598756029096
429: 0.5666801526999452
430: 0.5665007182301411
431: 0.5663215712788201
432: 0.5661427109356145
433: 0.5659641362944405
434: 0.5657858464534761
435: 0.5656078405151361
436: 0.56543011758605
437: 0.5652526767770366
438: 0.5650755172030828
439: 0.5648986379833194
440: 0.5647220382409978
441: 0.5645457171034683
442: 0.5643696737021567
443: 0.5641939071725415
444: 0.5640184166541318
445: 0.5638432012904451
446: 0.5636682602289851
447: 0.5634935926212191
448: 0.563319197622557
449: 0.563145074392329
450: 0.5629712220937635
451: 0.5627976398939666
452: 0.5626243269639
453: 0.5624512824783601
454: 0.5622785056159563
455: 0.5621059955590908
456: 0.5619337514939369
457: 0.5617617726104186
458: 0.5615900581021903
459: 0.5614186071666157
460: 0.5612474190047475
461: 0.5610764928213076
462: 0.5609058278246659
463: 0.5607354232268218
464: 0.5605652782433829
465: 0.5603953920935457
466: 0.5602257640000763
467: 0.5600563931892899
468: 0.5598872788910323
469: 0.55971842033866
470: 0.5595498167690214
471: 0.5593814674224368
472: 0.5592133715426806
473: 0.5590455283769618
474: 0.5588779371759047
475: 0.5587105971935314
476: 0.5585435076872425
477: 0.5583766679177986
478: 0.5582100771493023
479: 0.5580437346491797
480: 0.5578776396881625
481: 0.55771179154027
482: 0.5575461894827909
483: 0.5573808327962658
484: 0.5572157207644697
485: 0.5570508526743931
486: 0.5568862278162269
487: 0.5567218454833427
488: 0.5565577049722767
489: 0.5563938055827122
490: 0.5562301466174628
491: 0.5560667273824553
492: 0.5559035471867122
493: 0.5557406053423362
494: 0.5555779011644921
495: 0.5554154339713915
496: 0.5552532030842755
497: 0.5550912078273983
498: 0.5549294475280117
499: 0.5547679215163479
500: 0.554606629125604
501: 0.5544455696919259
502: 0.5542847425543926
503: 0.5541241470549996
504: 0.5539637825386442
505: 0.5538036483531092
506: 0.5536437438490478
507: 0.5534840683799672
508: 0.5533246213022149
509: 0.5531654019749621
510: 0.5530064097601887
511: 0.5528476440226686
512: 0.5526891041299548
513: 0.5525307894523637
514: 0.5523726993629613
515: 0.5522148332375477
516: 0.552057190454643
517: 0.551899770395472
518: 0.5517425724439506
519: 0.5515855959866711
520: 0.5514288404128872
521: 0.551272305114501
522: 0.5511159894860477
523: 0.5509598929246826
524: 0.5508040148301663
525: 0.5506483546048511
526: 0.5504929116536671
527: 0.5503376853841089
528: 0.5501826752062214
529: 0.5500278805325866
530: 0.5498733007783095
531: 0.5497189353610057
532: 0.5495647837007874
533: 0.5494108452202497
534: 0.5492571193444591
535: 0.549103605500938
536: 0.5489503031196538
537: 0.5487972116330048
538: 0.5486443304758076
539: 0.5484916590852846
540: 0.5483391969010508
541: 0.5481869433651013
542: 0.548034897921799
543: 0.5478830600178617
544: 0.54773142910235
545: 0.5475800046266546
546: 0.5474287860444845
547: 0.5472777728118542
548: 0.5471269643870721
549: 0.5469763602307282
550: 0.5468259598056819
551: 0.5466757625770503
552: 0.5465257680121967
553: 0.5463759755807176
554: 0.5462263847544324
555: 0.5460769950073713
556: 0.545927805815763
557: 0.5457788166580236
558: 0.5456300270147463
559: 0.5454814363686877
560: 0.5453330442047586
561: 0.5451848500100116
562: 0.5450368532736303
563: 0.5448890534869177
564: 0.5447414501432865
565: 0.5445940427382457
566: 0.5444468307693926
567: 0.5442998137363991
568: 0.5441529911410032
569: 0.5440063624869966
570: 0.5438599272802151
571: 0.5437136850285276
572: 0.5435676352418249
573: 0.5434217774320106
574: 0.5432761111129893
575: 0.5431306358006573
576: 0.5429853510128911
577: 0.5428402562695385
578: 0.5426953510924073
579: 0.5425506350052557
580: 0.542406107533782
581: 0.5422617682056149
582: 0.5421176165503032
583: 0.5419736520993058
584: 0.5418298743859823
585: 0.541686282945583
586: 0.5415428773152386
587: 0.5413996570339519
588: 0.5412566216425866
589: 0.5411137706838587
590: 0.5409711037023265
591: 0.5408286202443817
592: 0.5406863198582397
593: 0.5405442020939295
594: 0.5404022665032858
595: 0.5402605126399389
596: 0.5401189400593056
597: 0.5399775483185799
598: 0.5398363369767245
599: 0.5396953055944611
600: 0.5395544537342617
601: 0.5394137809603401
602: 0.5392732868386421
603: 0.5391329709368374
604: 0.5389928328243105
605: 0.538852872072152
606: 0.5387130882531501
607: 0.5385734809417819
608: 0.5384340497142044
609: 0.5382947941482467
610: 0.5381557138234008
611: 0.5380168083208139
612: 0.5378780772232794
613: 0.5377395201152286
614: 0.537601136582723
615: 0.537462926213445
616: 0.5373248885966913
617: 0.5371870233233629
618: 0.5370493299859581
619: 0.5369118081785644
620: 0.5367744574968504
621: 0.5366372775380575
622: 0.5365002679009919
623: 0.5363634281860181
624: 0.5362267579950489
625: 0.5360902569315393
626: 0.5359539246004781
627: 0.5358177606083799
628: 0.5356817645632784
629: 0.5355459360747179
630: 0.5354102747537459
631: 0.5352747802129061
632: 0.5351394520662299
633: 0.5350042899292303
634: 0.5348692934188933
635: 0.5347344621536714
636: 0.5345997957534752
637: 0.5344652938396676
638: 0.5343309560350553
639: 0.5341967819638823
640: 0.5340627712518227
641: 0.533928923525973
642: 0.5337952384148457
643: 0.5336617155483621
644: 0.5335283545578451
645: 0.5333951550760124
646: 0.5332621167369697
647: 0.5331292391762033
648: 0.5329965220305742
649: 0.5328639649383102
650: 0.5327315675390001
651: 0.5325993294735863
652: 0.5324672503843586
653: 0.532335329914947
654: 0.5322035677103157
655: 0.5320719634167562
656: 0.5319405166818807
657: 0.5318092271546159
658: 0.531678094485196
659: 0.5315471183251571
660: 0.5314162983273298
661: 0.531285634145834
662: 0.531155125436071
663: 0.5310247718547193
664: 0.5308945730597263
665: 0.5307645287103034
666: 0.5306346384669196
667: 0.5305049019912947
668: 0.530375318946394
669: 0.5302458889964218
670: 0.5301166118068152
671: 0.5299874870442388
672: 0.5298585143765779
673: 0.529729693472933
674: 0.5296010240036139
675: 0.5294725056401334
676: 0.5293441380552022
677: 0.5292159209227224
678: 0.529087853917782
679: 0.5289599367166492
680: 0.5288321689967665
681: 0.5287045504367457
682: 0.5285770807163606
683: 0.5284497595165433
684: 0.5283225865193776
685: 0.5281955614080933
686: 0.5280686838670616
687: 0.5279419535817884
688: 0.5278153702389097
689: 0.5276889335261856
690: 0.5275626431324955
691: 0.5274364987478323
692: 0.5273105000632969
693: 0.5271846467710937
694: 0.5270589385645238
695: 0.5269333751379817
696: 0.5268079561869483
697: 0.5266826814079868
698: 0.526557550498737
699: 0.5264325631579104
700: 0.5263077190852852
701: 0.5261830179817004
702: 0.5260584595490521
703: 0.5259340434902873
704: 0.5258097695093993
705: 0.5256856373114227
706: 0.525561646602429
707: 0.5254377970895205
708: 0.5253140884808265
709: 0.5251905204854975
710: 0.5250670928137016
711: 0.5249438051766183
712: 0.5248206572864346
713: 0.5246976488563397
714: 0.5245747796005212
715: 0.5244520492341591
716: 0.5243294574734219
717: 0.5242070040354619
718: 0.5240846886384104
719: 0.5239625110013731
720: 0.5238404708444256
721: 0.5237185678886087
722: 0.5235968018559239
723: 0.5234751724693293
724: 0.5233536794527343
725: 0.5232323225309959
726: 0.5231111014299138
727: 0.5229900158762262
728: 0.5228690655976055
729: 0.5227482503226534
730: 0.5226275697808973
731: 0.5225070237027856
732: 0.5223866118196833
733: 0.5222663338638678
734: 0.5221461895685249
735: 0.5220261786677444
736: 0.5219063008965158
737: 0.521786555990724
738: 0.5216669436871456
739: 0.5215474637234445
740: 0.5214281158381678
741: 0.5213088997707416
742: 0.5211898152614671
743: 0.5210708620515163
744: 0.5209520398829287
745: 0.5208333484986061
746: 0.5207147876423098
747: 0.5205963570586557
748: 0.5204780564931113
749: 0.5203598856919905
750: 0.5202418444024515
751: 0.5201239323724909
752: 0.5200061493509414
753: 0.5198884950874672
754: 0.5197709693325605
755: 0.5196535718375375
756: 0.5195363023545349
757: 0.5194191606365057
758: 0.5193021464372158
759: 0.5191852595112405
760: 0.5190684996139604
761: 0.5189518665015574
762: 0.5188353599310124
763: 0.5187189796600997
764: 0.5186027254473855
765: 0.5184865970522227
766: 0.5183705942347477
767: 0.5182547167558775
768: 0.5181389643773056
769: 0.5180233368614983
770: 0.5179078339716916
771: 0.5177924554718878
772: 0.5176772011268514
773: 0.5175620707021065
774: 0.5174470639639328
775: 0.5173321806793622
776: 0.5172174206161757
777: 0.5171027835429
778: 0.5169882692288035
779: 0.5168738774438943
780: 0.5167596079589156
781: 0.5166454605453427
782: 0.5165314349753802
783: 0.5164175310219583
784: 0.5163037484587297
785: 0.5161900870600665
786: 0.5160765466010564
787: 0.5159631268575001
788: 0.5158498276059084
789: 0.5157366486234978
790: 0.5156235896881888
791: 0.5155106505786016
792: 0.5153978310740538
793: 0.515285130954557
794: 0.5151725500008133
795: 0.5150600879942132
796: 0.5149477447168316
797: 0.5148355199514251
798: 0.5147234134814295
799: 0.5146114250909558

In [32]:
for j in range(len(best_epochs_list)):
    print(f"{j}: {best_epochs_list[j]}", end='\n')

In [33]:
theta

array([ 0.06071289,  0.06570108,  0.07276308, -0.09921095, -0.05383501,
       -0.0267059 , -0.0750103 , -0.12956163, -0.06080921, -0.06432063,
       -0.02603787, -0.05835854, -0.00815923,  0.04501573,  0.04515731,
        0.04815062,  0.06122624, -0.05404778, -0.09400817,  0.00346601,
       -0.21367224, -0.08010036, -0.2701502 , -0.05123288, -0.06952604,
       -0.11360832, -0.03413024, -0.02032905, -0.06676963, -0.0009431 ,
       -0.10956687, -0.13314136])

## Model performance on training set

We can test the performance of the model through its confusion matrix, F1 score, and accuracy score.

First, we predict on the training set.

In [34]:
## On training data
pred = fwd(X_train, theta, dbg=False)

## Decision (Threshold = 0.5)
y_train_hat = (pred >= 0.5).astype(int)

In [35]:
y_train_hat.shape

(1024, 1)

In [36]:
y_train.shape

(1024, 1)

In [37]:
print(confusion_matrix(y_train, y_train_hat))

[[655 163]
 [ 47 159]]

In [38]:
print(f1_score(y_train, y_train_hat))

0.6022727272727273

In [39]:
print(precision_score(y_train, y_train_hat))

0.4937888198757764

In [40]:
print(recall_score(y_train, y_train_hat))

0.7718446601941747

In [41]:
print(roc_auc_score(y_train, pred))

0.8598879578417643

In [42]:
print(accuracy_score(y_train, y_train_hat))

0.794921875

## Model performance on test set

Now, we predict on the test set.

In [43]:
## On test data

pred = fwd(X_test, theta, dbg=False)

## Decision (Threshold = 0.5)
y_test_hat = (pred >= 0.5).astype(int)

In [44]:
y_test_hat.shape

(1024, 1)

In [45]:
y_test.shape

(1024, 1)

In [46]:
print(confusion_matrix(y_test, y_test_hat))

[[651 162]
 [ 48 163]]

In [47]:
print(f1_score(y_test, y_test_hat))

0.6082089552238806

In [48]:
print(roc_auc_score(y_test, pred))

0.868802574281667

In [49]:
print(accuracy_score(y_test, y_test_hat))

0.794921875

In [50]:
print(precision_score(y_test, y_test_hat))

0.5015384615384615

In [51]:
print(recall_score(y_test, y_test_hat))

0.7725118483412322

## Write to a CSV file

In [52]:
# Convert the NumPy array to a DataFrame
X_train_csv = pd.DataFrame(X_train)
y_train_csv = pd.DataFrame(y_train)
X_test_csv = pd.DataFrame(X_test)
y_test_csv = pd.DataFrame(y_test)

# Save the DataFrame to a CSV file
X_train_csv.to_csv("../cscore_data/X_train_1024fs.csv", index=False)
y_train_csv.to_csv("../cscore_data/y_train_1024fs.csv", index=False)
X_test_csv.to_csv("../cscore_data/X_test_1024fs.csv", index=False)
y_test_csv.to_csv("../cscore_data/y_test_1024fs.csv", index=False)

In [53]:
del X

In [54]:
X_train_csv[X_train_csv.columns[:]].head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,-0.460089,0.319067,0.636022,0.771718,-0.172056,0.847819,0.408311,0.007451,0.447042,1.104410,...,1.0,0.0,1.0,0.0,-0.324485,-0.410564,0.173646,0.423971,0.0,1.0
1,-0.366288,0.305226,0.626379,-0.003572,0.202622,-0.866501,1.034754,0.143579,0.004386,0.744293,...,1.0,1.0,0.0,0.0,-0.479415,-0.409154,-0.012949,0.025207,0.0,1.0
2,0.360107,-0.174785,-0.108077,-1.408773,0.028710,-0.711485,0.408311,-0.145735,-1.047162,0.288454,...,0.0,1.0,0.0,0.0,-0.395609,-0.895605,0.022229,-0.236370,0.0,0.0
3,0.081902,-0.089745,0.040337,0.771718,0.202622,0.292650,0.110895,0.855789,0.673314,-1.003964,...,1.0,0.0,0.0,1.0,-0.066335,1.138855,0.480004,0.454371,0.0,1.0
4,-0.049991,0.992729,1.489341,-0.236773,0.202622,-1.563541,0.408311,-0.641981,-0.543955,-2.285441,...,0.0,1.0,0.0,0.0,-0.555817,-1.146745,0.414829,0.262347,0.0,1.0